'''
OBJECTIVES:
1. Build WRS system
2. Build Structural BMP Solution evaluator
3. Identify minimum BMP solution front for:
   individual facilities
   facilities w/in departments
   facilities w/in city
   
PYTHON VERSION: 3.6.3  
SQLALCHEMY VERSION: 1.1.13

'''

### Pollutant Constituents
Below are the pollutant constituents we attempt to address through this alternatives analysis

In [1]:
#############################################################################################################
#                   
#                                       DEFINE GLOBAL VARIABLE pollLS
#############################################################################################################     
pollLS = ['tss', 'turbidity', 'p', 'n', 'nn', 'an', 'og', 'cu', 'zn', 'fe', 'phmin', 'phmax']

# Program Setup
## (Importing libraries, defining database)

In [2]:
#import standard python libraries:
import winsound
import pandas as pd
import numpy as np
import math
import datetime
import calendar
import time

In [3]:
#IMPORT AND DEFINE sqlalchemy libraries, tables, and session engine
#SQLAlchemy library items:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String
from sqlalchemy import update, insert
from sqlalchemy import and_ #used in query.filter() to joing multiple where clauses
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship #http://docs.sqlalchemy.org/en/latest/orm/basic_relationships.html#relationship-patterns
from sqlalchemy import inspect

from SQLA_Base import Base #module containing declarative_base
from SQLA_conn_man import session, engine #module handling db and connection creation 

#Table definitions as SQLA classes:
from SQLA_DB_base_bmp_feasibility_test_results import Base_BMP_Feasibility_Test_Results as BBFTR
from SQLA_DB_base_bmp_feasibility_test_definitions import Base_BMP_Feasibility_Test_Definitions as BBFTD
from SQLA_DB_base_bmps import Base_BMPs
from SQLA_DB_combo_bmps import Combo_BMPs
from SQLA_DB_combo_bmp_feasibility_test_results import Combo_BMP_Feasibility_Test_Results as CBFTR
from SQLA_DB_expressions import Expressions
from SQLA_DB_facility_chars import Facility_Chars
from SQLA_DB_facility_monthly_rain import Facility_Monthly_Rain
from SQLA_DB_facility_risks import Facility_Risks
from SQLA_DB_facility_type_has_nel import Facility_Type_Has_NEL
from SQLA_DB_facility_types import Facility_Types
from SQLA_DB_feasibility_test_questions import Feasibility_Test_Questions as FTQ
from SQLA_DB_nel_sample_classes import NEL_Sample_Classes
from SQLA_DB_existing_pollutant_concentrations import Existing_Pollutant_Concentrations as ExPollConcs
from SQLA_DB_pollutant_removal_rates import Pollutant_Removal_Rates as PRR
from SQLA_DB_wrs_pollutant_risks import WRS_Pollutant_Risks
Base.metadata.create_all(engine, checkfirst=True) #create SQLA classes

'''
Dictionary of "SQLAlchemy where clause lambda functions" that importCSV uses to test record uniqueness.
used as the where clause in sqlalchemy queries, updates and deletes 
Form:
    {TableName:Lambda Function, TableName:Lambda Function, ...}
    
    TableName is the table name we want to define uniqueness test for
    Lambda Function is a SQLAlchemy query used to test record uniqueness. The function can take on any form 
        but must be made to evaluate the CSV row passed as a dictionary (CSVRowDict in this explanation):
        CSVRowDict: {FieldName:CSVColValue, DBTableFieldName:CSVColValue...} 
            Where: DBTableFieldName is the name of the field associated with the value at CSVColValue on the current row
                   CSVColValue: a value in the CSV's current row+column corresponding to the DBTableFieldName 
        *this assumes that field names are unique across table. if not, then method fails (maybe need to extend method?)
    FALSE: indicates that db table doesn't impose uniqueness on its records (other than its record id being unique)
        
e.g.: lambda myRowVal: Base.metadata.tables['people'].c['name'] == CSVRowDict['name']
        using lambda function in query will search for CSVRowDict's value for 'name' in the table people, field name 
if table has no record uniqueness requirement, then enter: TableName:False
'''
unqTests = {
    'facility_chars': lambda CSVRowDict: Base.metadata.tables['facility_chars'].c['Fac_Name'] == CSVRowDict['Fac_Name'],
    'facility_monthly_rain': False, #DB schema does not impose uniqueness on records in this table
    'facility_type_has_nel': False,
    'facility_risks': False,
    'facility_types': lambda CSVRowDict: Base.metadata.tables['facility_types'].c['Fac_Type'] == CSVRowDict['Fac_Type'],
    'nel_sample_classes': lambda CSVRowDict: Base.metadata.tables['nel_sample_classes'].c['nel_column']==CSVRowDict['nel_column'],
    'existing_pollutant_concentrations': False, #uniqueness not imposed for records in this table.
    'wrs_pollutant_risks': False #DB schema does not impose uniqueness on records in this table
}

import SQLA_main as SQLA_main #import main SQLAlchemy functions

Clearing old DB

In [4]:
'''
Define other custom modules
'''
import mod_Base_BMP_Eval as BBMP_Eval
import mod_Combo_BMP_Eval as CBMP_Eval
import mod_EffluentLimit as EffLim
import mod_expression as Expr
import mod_importSpecial as importSpecial #special import functions are defined here
import mod_importCSV as importCSV #generic CSV importer ****IMPORTANT NOTE: function assumes csv in the utf-8-sig file format. weird things happen if its not in this format!!!

#  Import Data

In [5]:
#import feasibillity questions, build feasibility expressions
importSpecial.importFeasibilityQuestionsCSV('Input_Files\\feasibility_test_questions.csv') 

#import base bmp information including:
  #1. imports definitions for cip costs, o&m costs, and BMP sizing to the expressions table
  #2. imports pollutant removal rates into pollutant_removal_rates table
  #3. creates a record in the base_bmps table using (1) and (2)
  #4. feasibility tests
importSpecial.importBaseBMPsCSV('Input_Files\\bmp_lego_piece.csv') 

#IMPORT BASIC FACILITY CHARS:
    #!!!!IMPORTANT!!!! This import must occur before other facility specific data is imported!
print ('\nImporting facility characteristics:')
importCSV.importCSV('Input_Files\\facility_chars.csv', unqTests)

#IMPORT PBP Appendix A1 data
print ('\nImporting PBP Appendix A1 data:')
importCSV.importCSV('Input_Files\\pbp_appxa1.csv', unqTests)

#IMPORT FACILITY RAINFALL EXTRACTED FROM http://rainfall.geography.hawaii.edu/downloads.html
print ('\nImporting Facility Rainfall Data:')
importCSV.importCSV('Input_Files\\FacilityRainfallData.csv', unqTests)

#IMPORT EFFLUENT LIMITS EXISTANCE FOR FACILITY TYPES: (either by Priority Based Plan, Table 3 or as City operational assignment)
#IF CSV HEADRS SETUP CORRECTLY, THEN THIS INSERTS NEL EXISTANCE DATA (0 OR 1) TO WRS_POLLUTANT TABLE 
#AND USES THE FACILITY_TYPE_HAS_NEL TO ASSOCIATE RECORD WITH FACILITY TYPE
print ('\nImporting Facility Type Has Effluent Limits:') #import into wrs_pollutant_risks table
importCSV.importCSV('Input_Files\\nel_exists_facility_types.csv', unqTests)

#IMPORT NEL CLASSIFICATION DATA (from PBP Appendix L)
print ('\nImporting NEL Classes')
importCSV.importCSV('Input_Files\\nel_pbp_appxl.csv', unqTests)

#IMPORT FACILITY RISKS:
print ('\nImporting Facility Risks')
#for future implementation:
    #The current process inserts fac risk and update existing_fac_char_id in Facility_chars table. this process thus creates
#dead records. a more sophisticated approach using sophisticated lambda function in unqTests would fix this
importCSV.importCSV('Input_Files\\facility_risks.csv', unqTests)

# #IMPORT FACILITY SAMPLING DATA
 #!!!IMPORTANT!!!! For now, we make none detects = 0 BUT this must be changed to detection limit, per DOH guidance.
print ('\nImporting Facilty Sampling data:')
importCSV.importCSV('Input_Files\\sample_data.csv', unqTests)


# for now, since we're developing, delete out all except 1st 2 facilities.
# n = 5
# session.query(ExPollConcs).filter(ExPollConcs.facility_id >n).delete(synchronize_session = False) #http://docs.sqlalchemy.org/en/latest/orm/query.html#sqlalchemy.orm.query.Query.delete
# session.query(Facility_Chars).filter(Facility_Chars.id >n).delete(synchronize_session = False) #http://docs.sqlalchemy.org/en/latest/orm/query.html#sqlalchemy.orm.query.Query.delete
# session.commit #we chose not to sync session so need to commit before proceeding to requery or else you may get unpredictable resutls

session.commit()
winsound.Beep(250,1000)

Reading csv for import to Feasibility Questions

Reading csv record: Feas-1

Reading csv record: Feas-2

Reading csv record: Feas-3

Reading csv record: Feas-4

Reading csv record: Feas-5

Reading csv record: Feas-6

Reading csv record: Feas-7

Reading csv record: Feas-8

Reading csv record: Feas-9

Reading csv record: Feas-10

Reading csv record: Feas-11

Reading csv record: Feas-12

Reading csv record: Feas-13

Reading csv record: Feas-14

Reading csv record: Feas-15

Reading csv record: Feas-16

Reading csv record: Feas-17

Reading csv record: Feas-18

Reading csv record: Feas-19

Reading csv record: Feas-20

Reading csv record: Feas-21
Reading csv for import to base bmp tables

Reading csv record: Hydrodynamic Separation
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 1
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  1
Added feasibility test def as record:  2

Reading csv record: Enhanced Media Filtration (Replaceable Cartridge)
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 2
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  3
Added feasibility test def as record:  4

Reading csv record: Biofiltration (Vault)
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 3
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  5
Added feasibility test def as record:  6

Reading csv record: Media Filtration (Pressure)
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 4
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  7
Added feasibility test def as record:  8
Added feasibility test def as record:  9
Added feasibility test def as record:  10

Reading csv record: Bioinfiltration / Bioretention
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 5
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  11
Added feasibility test def as record:  12
Added feasibility test def as record:  13
Added feasibility test def as record:  14
Added feasibility test def as record:  15
Added feasibility test def as record:  16
Added feasibility test def as record:  17
Added feasibility test def as record:  18

Reading csv record: Inlet Insert Unit
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 6
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  19

Reading csv record: Sand Filtration
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 7
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  20
Added feasibility test def as record:  21

Reading csv record: Coagulation Enhanced Treatment
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 8
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  22
Added feasibility test def as record:  23
Added feasibility test def as record:  24
Added feasibility test def as record:  25

Reading csv record: Roofing
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 9
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  26

Reading csv record: Repair Existing Pavement
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 10
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  27

Reading csv record: Oil and Water Separators
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 11
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  28
Added feasibility test def as record:  29
Added feasibility test def as record:  30

Reading csv record: Vegetative Swales
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 12
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  31
Added feasibility test def as record:  32
Added feasibility test def as record:  33
Added feasibility test def as record:  34
Added feasibility test def as record:  35
Added feasibility test def as record:  36

Reading csv record: Detention
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 13
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  37

Importing facility characteristics:
importing data in CSV rows...
imported records in  109  rows
associating records...

Importing PBP Appendix A1 data:
importing data in CSV rows...
imported records in  238  rows
associating records...

Importing Facility Rainfall Data:
importing data in CSV rows...
imported records in  238  rows
associating records...

Importing Facility Type Has Effluent Limits:
importing data in CSV rows...
imported records in  8  rows
associating records...

Importing NEL Classes
importing data in CSV rows...
imported records in  9  rows
associating records...

Importing Facility Risks
importing data in CSV rows...
imported records in  238  rows
associating records...

Importing Facilty Sampling data:
importing data in CSV rows...
imported records in  110  rows
associating records...

# Existing Sampling Data
Talk about it...

Global variables related to existing sampling data include:  
 - 
 - 

Defined several functions that will be used by BMP Option Evaluation. These include:  
 - 
 -

In [6]:
'''
#############################################################################################################
#              ASSIGN CONCENTRATION DATA FOR FACILITIES WITHOUT SAMPLING RESULTS:
#                      assignment made into database table: ExPollConcs 
#############################################################################################################
Enter estimated pollutant concentrations into database's existing pollutant concentration table for facilities without 
actual sampling data. Use 1 of 2 methods:

Method 1 (sim_MaxType): Use maximum concentration value sampled for period 2013-2017
          This method is for Permit Table 1 facilities only
          Method assumes we have already entered sampling data for into the database's existing pollutant concentration table

Method 2 (sim_EMC): Use data from an EMC study.
          This method is for facilities that are not on Permit Table 1
'''

def WriteSampleDat_simMaxType(pollLS):
    #assign maximum sampled values to Table 1 facilities that have not yet been sampled
    #delete all pollutant concentration table records that are not from infield sampling.
    #     To be sure we're starting fresh, let's remove any records in ExPollConcs that:
    #     1. Were not obtained directly from field samples (i.e. sample_method != 'infield)
    #     2. Were obtained from field samples, but are not Table 1 facilities (i.e. we shouldn't be looking at their  sample results)
    session.query(ExPollConcs).filter(ExPollConcs.sample_method != 'infield').delete(synchronize_session = False)
    #delete all pollutant concentration table records that are not for Table 1 facilities
    #for some reason bulk delete's not working. so let's use a loop to work around it.
    for rec in session.query(ExPollConcs.id).filter(ExPollConcs.facility_id == Facility_Chars.id).filter(Facility_Chars.Permit_Table != 'Table 1'):
        session.query(ExPollConcs).filter(ExPollConcs.id == rec[0]).delete(synchronize_session = False)

    #make a dataframe called pd_Concs to hold existing pollutant concentrations that were sampled in the field (the 'infield' sampling method)'''
    q = session.query(ExPollConcs).filter(ExPollConcs.sample_method == 'infield')
    pd_Concs = pd.read_sql(q.statement,session.bind)         

    #build pd_infieldExtreama by making a dictionary of maximum sample results for each constiuent
    dict_extrema = {'c_' + Constituent: pd_Concs.loc[:,'c_' + Constituent].max() for Constituent in pollLS}
    dict_extrema['c_phmin'] = pd_Concs.loc[:,'c_phmin'].min() #phMin is exception to above. we want min. phMin value
    #use dictionary to build pd_infieldExtrema dataframe
    pd_infieldExtrema = pd.DataFrame([dict_extrema])
    #     display(pd_infieldExtrema)

    #now build query that identifies all Table 1 facilities that are not in ExPollConcs
    subq = session.query(ExPollConcs.facility_id.distinct()).order_by(ExPollConcs.facility_id).all()
    ls_sq = [i[0] for i in subq if i[0] is not None] #list comprehension to produce list of all facility_id in ExPollConcs table
    #get list of Table 1 facilities not in ExPollConcs:
    tpl_q = session.query(Facility_Chars.id).filter(Facility_Chars.Permit_Table == 'Table 1').filter(Facility_Chars.id.notin_(ls_sq)).all()
    ls_FacIDs = [i[0] for i in tpl_q] #write query tuple to list    
    #make a list of Table 1 facs not in ExPollConcs (a list of dicts). also include extrema conc. values.  
    ls_dict_pd = [{**{'facility_id': FacID, 'sample_method': 'sim_MaxType', 'sample_date':'12/31/2016'}, **dict_extrema} for FacID in ls_FacIDs]
    #write list to database:
    ExPollConcs_meta = Base.metadata.tables['existing_pollutant_concentrations']
    ExPollConcs_id_meta = ExPollConcs_meta.c['id']
    for dict_temp in ls_dict_pd:
        SQLA_main.insertRec(ExPollConcs_meta,dict_temp)
    session.commit()
    #for future implementation: write dict -> dataframe -> db(using sqla):
        # pd_temp.to_sql('existing_pollutant_concentrations', engine, if_exists='append', index = False)
        #http://docs.sqlalchemy.org/en/latest/faq/performance.html#i-m-inserting-400-000-rows-with-the-orm-and-it-s-really-slow
        #https://stackoverflow.com/questions/31997859/bulk-insert-a-pandas-dataframe-using-sqlalchemy

WriteSampleDat_simMaxType(pollLS) #call function defined above

In [7]:
#############################################################################################################
#                                 Write all sampling data from database to pd_ExConcs
#                                       (DEFINE GLOBAL VARIABLE: pd_ExConcs)
#############################################################################################################    
#get all existing sampling data.
q = session.query(ExPollConcs.facility_id.label('Facility_ID'), ExPollConcs.sample_date, 
        ExPollConcs.c_tss,
        ExPollConcs.c_turbidity,
        ExPollConcs.c_p,
        ExPollConcs.c_n,
        ExPollConcs.c_nn,
        ExPollConcs.c_an,
        ExPollConcs.c_og,
        ExPollConcs.c_cu,
        ExPollConcs.c_zn,
        ExPollConcs.c_fe,
        ExPollConcs.c_phmin,
        ExPollConcs.c_phmax  
         ).order_by(ExPollConcs.facility_id) #.filter(ExPollConcs.facility_id == FacID)
pd_ExConcs = pd.read_sql(q.statement,session.bind) 
#tidy up the sampling data
from datetime import datetime
pd_ExConcs['sample_date'] = pd.to_datetime(pd_ExConcs['sample_date'], format="%m/%d/%Y")
#Write to a dataframe called pd_ExConcs
pd_ExConcs = pd_ExConcs.applymap(lambda x: float('nan') if x is None else x) #assign NaN values to any None element 
print ('a few pieces of data:')
pd_ExConcs

a few pieces of data:

,Facility_ID,sample_date,c_tss,c_turbidity,c_p,c_n,c_nn,c_an,c_og,c_cu,c_zn,c_fe,c_phmin,c_phmax
0,1,2017-04-19,122.0,NaN,NaN,2.430,NaN,NaN,NaN,NaN,NaN,NaN,7.00,7.00
1,1,2017-02-11,59.0,13.00,0.097,0.580,NaN,NaN,NaN,NaN,NaN,NaN,8.30,8.30
2,1,2016-12-04,80.0,71.20,0.300,0.910,0.120,0.141,0.0,NaN,NaN,NaN,8.20,8.20
3,1,2016-06-17,83.0,81.40,0.250,0.940,0.200,0.060,0.0,NaN,NaN,NaN,6.92,6.92
4,1,2015-02-20,33.5,17.50,0.176,1.830,0.190,1.090,5.7,NaN,NaN,NaN,8.54,8.54
5,1,2014-04-13,14.0,8.50,0.244,2.037,0.247,0.556,4.7,NaN,NaN,NaN,6.64,6.64
6,1,2013-03-09,163.0,24.40,0.155,1.199,0.239,0.073,5.0,NaN,NaN,NaN,8.09,8.09
7,2,2017-04-20,NaN,13.00,NaN,0.780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2,2017-01-21,0.0,31.00,0.100,1.580,0.000,0.418,0.0,NaN,NaN,NaN,7.20,7.20
9,2,2016-05-05,7.0,4.90,0.066,2.672,0.212,0.416,0.0,NaN,NaN,NaN,6.83,6.83
10,2,2014-06-03,18.5,3.30,0.075,1.136,0.116,0.100,4.8,NaN,NaN,NaN,7.26,7.26
11,2,2013-03-09,80.0,7.80,0.167,0.761,0.061,0.155,4.8,NaN,NaN,NaN,7.57,7.57
12,3,2017-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.50,7.50
13,3,2016-12-01,172.0,277.00,1.100,4.320,2.330,0.000,0.0,NaN,NaN,NaN,8.50,8.50
14,3,2015-02-14,311.0,16.20,0.846,4.000,1.060,0.106,5.1,NaN,NaN,19500.0,7.78,7.78
15,3,2013-03-14,91.3,42.80,0.262,1.395,0.425,0.188,5.4,NaN,NaN,4120.0,7.60,7.60
16,4,2013-04-24,247.0,7.30,0.755,1.349,0.139,1.000,5.1,NaN,NaN,NaN,7.79,7.79
17,5,2017-01-24,249.0,46.00,2.300,15.850,0.000,NaN,4.0,NaN,NaN,NaN,NaN,NaN
18,5,2016-12-08,240.0,767.00,0.137,27.250,0.050,2.840,21.0,NaN,NaN,NaN,6.40,6.40
19,5,2016-05-25,89.5,13.20,2.920,14.542,0.142,0.714,9.9,NaN,NaN,NaN,6.40,6.40
20,5,2013-03-09,132.0,53.00,2.530,0.350,0.050,0.112,5.5,NaN,NaN,NaN,6.01,6.01
21,6,2016-12-31,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
22,7,2014-06-03,5.0,18.30,0.028,0.703,0.133,0.050,4.8,NaN,NaN,NaN,7.89,7.89
23,8,2013-03-07,322.0,1410.00,1.330,2.532,0.192,0.282,5.3,NaN,NaN,NaN,8.07,8.07
24,9,2016-12-31,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
25,10,2016-12-31,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
26,11,2016-12-31,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
27,12,2013-03-22,62.5,34.40,0.451,2.647,0.377,0.283,5.3,NaN,NaN,NaN,8.07,8.07
28,13,2017-04-28,280.0,136.00,1.800,21.100,1.500,0.331,NaN,NaN,NaN,NaN,NaN,NaN
29,13,2017-02-06,80.0,73.00,1.200,4.900,0.720,0.228,0.0,NaN,NaN,NaN,7.00,7.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,104,2014-05-02,30.5,17.40,0.161,1.152,0.092,0.050,4.8,NaN,NaN,NaN,7.55,7.55
78,104,2013-01-27,233.0,240.00,0.558,1.243,0.203,0.068,4.7,NaN,NaN,NaN,7.45,7.45
79,105,2017-02-11,677.0,720.00,1.500,1.650,1.120,0.194,0.0,17.00,24.0,NaN,8.10,8.10
80,105,2017-02-11,910.0,105.00,0.300,1.080,0.520,0.121,4.0,58.00,730.0,NaN,8.10,8.10
81,105,2013-04-14,303.0,16.00,0.874,1.887,0.097,0.050,5.6,28.60,114.0,NaN,8.10,8.10
82,106,2017-02-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.10,6.3,NaN,8.10,8.10
83,106,2017-02-06,680.0,4000.00,1.200,5.700,3.680,0.000,0.0,100.00,133.0,NaN,8.00,8.00
84,106,2016-12-01,272.0,801.00,0.800,0.700,0.120,0.000,0.0,59.00,112.0,NaN,8.10,8.10
85,106,2016-06-17,151.0,8.15,0.096,0.680,0.000,0.000,0.0,92.60,190.0,NaN,6.83,6.83
86,106,2016-05-25,157.0,137.00,1.600,1.640,0.000,0.256,0.0,38.40,112.0,NaN,7.56,7.56
87,106,2015-02-03,119.0,6.30,0.119,1.296,0.076,0.101,4.9,105.00,310.0,NaN,7.90,7.90
88,106,2015-02-03,155.0,8.20,0.379,1.275,0.085,0.083,5.2,36.80,143.0,NaN,7.40,7.40
89,106,2013-03-09,10.5,17.00,0.124,0.856,0.106,0.063,5.6,45.60,200.0,NaN,7.49,7.49
90,107,2017-04-19,NaN,45.00,0.480,1.680,0.570,0.081,NaN,30.60,NaN,NaN,NaN,NaN
91,107,2017-04-19,NaN,47.00,0.480,1.450,0.470,0.070,NaN,86.00,416.0,NaN,NaN,NaN
92,107,2017-01-24,NaN,90.00,0.500,2.190,0.520,0.074,NaN,36.50,NaN,NaN,NaN,NaN
93,107,2017-01-24,124.0,66.00,0.570,1.940,0.540,0.090,0.0,39.00,167.0,NaN,7.70,7.70
94,107,2016-12-04,7.0,7.20,10.300,0.950,0.200,0.083,0.0,13.30,31.4,NaN,8.30,8.30
95,107,2016-05-14,52.0,31.10,0.281,2.489,0.309,0.220,0.0,34.40,220.0,NaN,6.89,6.89
96,107,2015-02-20,16.0,31.70,0.227,1.412,0.342,0.050,5.1,29.20,146.0,NaN,7.88,7.88
97,107,2013-03-24,6.0,7.80,0.102,1.021,0.281,0.094,4.8,17.20,47.1,NaN,8.26,8.26
98,108,2017-04-20,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.00,115.0,NaN,NaN,NaN
99,108,2017-01-21,13.0,22.00,0.150,1.770,0.120,0.330,59.0,21.00,205.0,NaN,6.90,6.90
100,108,2015-11-05,6.0,13.30,0.071,0.720,0.000,0.000,0.0,4.71,50.7,NaN,7.42,7.42
101,109,2017-02-11,142.0,15.90,0.890,3.470,2.830,0.108,0.0,18.90,26.0,NaN,7.90,7.90
102,110,2016-12-31,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
103,112,2017-04-20,NaN,43.00,0.200,0.700,0.140,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,112,2017-02-06,36.0,35.50,0.390,2.290,0.810,0.000,0.0,NaN,NaN,NaN,7.20,7.20
105,112,2013-03-09,155.0,15.80,0.775,2.221,0.461,0.050,5.6,NaN,NaN,NaN,7.49,7.49
106,240,2015-09-11,293.0,93.20,0.774,4.510,1.800,0.173,0.0,NaN,NaN,NaN,7.71,7.71

In [8]:
#############################################################################################################
#                                 ESTIMATE Numeric Effluent Limits
#                          (DEFINE GLOBAL VARIABLES: pd_FacsNELs_Wet & pd_FacsNELs_Dry)
#############################################################################################################    
'''
Estimate the Numeric Effluent Limits (NELs) for each facility.
Return wet and dry season NELs in 2 separate dataframes:
    pd_FacsNELs_Wet & pd_FacsNELs_Dry
Estimate NELs using the EffLim module's GetNELs function call.
 The GetNELs function call will differentiate between wet and dry season limits
 (if limits are the same between wet & dry season, then the same limit will be placed into the wet and dry
  dataframes.)
 The GetNEls function calculates a pollutant constituent NEL using this formula:
    NEL = fTypeHas_NEL * SampleClass_NEL
    Where:
      fTypeHas_NEL is a [0,1] value from PBP Table 3, based on facility type (stored in SQLA_DB_facility_type_has_nel)
      SampleClass_NEL is pollutant concentration based on facility's sample class, based on PBP Appendix L
'''
pd_FacsNELs_Wet, pd_FacsNELs_Dry = pd.DataFrame(),  pd.DataFrame() #initialize wet and dry season nel dataframes 
for recFac in session.query(Facility_Chars): #do the following for each facility:
    wet,dry = EffLim.GetNELs(recFac,False) #Get Wed & Dry NELs by calculating: NEL = fTypeHas_NEL * SampleClass_NEL
#     if wet is not None:
    pd_FacsNELs_Wet = pd.concat([pd_FacsNELs_Wet, wet]) #write wet NELs to pd_FacsNELs_Wet
#     if dry is not None:
    pd_FacsNELs_Dry = pd.concat([pd_FacsNELs_Dry, dry]) #write dry NELs to pd_FacsNELs_Dry

print('Wet NELs:')
display(pd_FacsNELs_Wet)
print('Dry NELs:')
display(pd_FacsNELs_Dry)

Wet NELs:

,nel_tss,nel_turbidity,nel_p,nel_n,nel_nn,nel_an,nel_og,nel_cu,nel_zn,nel_fe,nel_phmin,nel_phmax
Facility_ID,,,,,,,,,,,,
1,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
2,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
3,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
4,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
5,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
6,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
7,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
8,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
9,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
10,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
11,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
12,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
13,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
14,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
15,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
16,NaN,3.00,0.05,0.35,0.025,0.0100,15.0,NaN,NaN,NaN,7.0,8.6
17,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,NaN,6.8,8.8
18,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
19,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
20,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
21,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
22,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
23,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
24,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
25,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
26,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
27,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
28,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
29,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
30,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,NaN,6.8,8.8
...,...,...,...,...,...,...,...,...,...,...,...,...
90,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
91,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
92,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
93,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
94,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
95,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
96,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
97,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
98,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
99,NaN,3.00,0.05,0.35,0.025,0.0100,15.0,NaN,NaN,NaN,7.0,8.6
100,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
101,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
102,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
103,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
104,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
105,50.0,15.00,0.10,0.52,0.180,NaN,15.0,6.0,22.0,NaN,5.5,8.0
106,NaN,NaN,NaN,NaN,NaN,NaN,15.0,6.0,22.0,NaN,5.5,8.0
107,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,2.9,95.0,NaN,7.0,8.6
108,NaN,NaN,NaN,NaN,NaN,NaN,15.0,6.0,22.0,NaN,5.5,8.0
109,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,2.9,95.0,NaN,7.6,8.6
110,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
111,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
112,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
113,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
114,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
115,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
191,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
229,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
237,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
238,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6

Dry NELs:

,nel_tss,nel_turbidity,nel_p,nel_n,nel_nn,nel_an,nel_og,nel_cu,nel_zn,nel_fe,nel_phmin,nel_phmax
Facility_ID,,,,,,,,,,,,
1,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
2,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
3,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
4,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
5,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
6,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
7,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
8,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
9,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
10,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
11,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
12,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
13,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
14,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
15,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
16,NaN,3.00,0.05,0.35,0.025,0.0100,15.0,NaN,NaN,NaN,7.0,8.6
17,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,NaN,6.8,8.8
18,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
19,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
20,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
21,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
22,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
23,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
24,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
25,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
26,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
27,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
28,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
29,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
30,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,NaN,6.8,8.8
...,...,...,...,...,...,...,...,...,...,...,...,...
90,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
91,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
92,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
93,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
94,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
95,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
96,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
97,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
98,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
99,NaN,3.00,0.05,0.35,0.025,0.0100,15.0,NaN,NaN,NaN,7.0,8.6
100,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
101,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
102,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
103,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
104,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
105,30.0,5.50,0.06,0.38,0.090,NaN,15.0,6.0,22.0,NaN,5.5,8.0
106,NaN,NaN,NaN,NaN,NaN,NaN,15.0,6.0,22.0,NaN,5.5,8.0
107,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,2.9,95.0,NaN,7.0,8.6
108,NaN,NaN,NaN,NaN,NaN,NaN,15.0,6.0,22.0,NaN,5.5,8.0
109,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,2.9,95.0,NaN,7.6,8.6
110,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
111,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
112,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
113,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
114,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
115,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
191,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
229,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
237,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
238,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6

In [64]:
#############################################################################################################
#                               Estimate Exceedances of Faclility Effluent Limits
#                      
#############################################################################################################     
def CalcExceedances0(pd_Concs, pollLS, pd_FacsNELs_Wet, pd_FacsNELs_Dry):
    '''    
    #for each facility in database, calculate exceedance for each pollutant constituent in pollLS list
    #do the Exceedance Calculation = max(0,(Constituent Concentration - NEL))
    # if no exceedance, then report 0. report NaN sample result is NaN
    #INPUT:
        pd_Concs: dataframe of concentrations [Facility_ID,sample_date,c_tss,c_turbidity,c_p,c_n,c_nn,c_an,c_og,c_cu,c_zn,c_fe,c_phmin,c_phmax]
        pollLS: list of pollutant constituents we want to analyze (constituent list needs to match those in pd_Concs and FacsNELs dataframes)
        pd_FacsNELs_Wet & pdFacsNELs_Dry: dataframes holding numerical effluent limits for each pollutant
    #Return dataframe [Facility_ID,sample_date,c_tss,c_turbidity,c_p,c_n,c_nn,c_an,c_og,c_cu,c_zn,c_fe,c_phmin,c_phmax]
    '''
    start_time = time.time()
    pd_FacExceedances = pd.DataFrame() #make an empty dataframe.  we will append to it.
    for Facs in session.query(Facility_Chars.id).order_by(Facility_Chars.id):
        FacID = Facs[0]
        if (FacID in pd_Concs.Facility_ID.values) and (FacID in pd_FacsNELs_Dry.index) and (FacID in pd_FacsNELs_Wet.index):
            pd_temp = pd_Concs.loc[pd_Concs['Facility_ID'] == FacID] #slice facility id rows into a temp dataframe
            pd_temp.is_copy = False #acknowledge that pd_temp is NOT a copy of pd_ExConcs. but intended to be treated as new dataframe
            for Constituent in pollLS:
                pd_temp['c_' + Constituent]  = pd_Concs.apply(lambda row: #for each row in pd_ExConcs:
                         EffLim.ExceedanceCalc(row, Constituent, FacID, pd_FacsNELs_Wet, pd_FacsNELs_Dry, True), axis = 1)
            pd_FacExceedances = pd.concat([pd_FacExceedances,pd_temp])
    print ('--- %s execution time in seconds ---' % (time.time() - start_time))            
    return (pd_FacExceedances)

def CalcExceedances(pd_Concs, pollLS, pd_FacsNELs_Wet, pd_FacsNELs_Dry):
    '''    
    #for each facility in database, calculate exceedance for each pollutant constituent in pollLS list
    #do the Exceedance Calculation = max(0,(Constituent Concentration - NEL))
    # if no exceedance, then report 0. report NaN sample result is NaN
    #INPUT:
        pd_Concs: dataframe of concentrations [Facility_ID,sample_date,c_tss,c_turbidity,c_p,c_n,c_nn,c_an,c_og,c_cu,c_zn,c_fe,c_phmin,c_phmax]
        pollLS: list of pollutant constituents we want to analyze (constituent list needs to match those in pd_Concs and FacsNELs dataframes)
        pd_FacsNELs_Wet & pdFacsNELs_Dry: dataframes holding numerical effluent limits for each pollutant
    #Return dataframe [Facility_ID,sample_date,c_tss,c_turbidity,c_p,c_n,c_nn,c_an,c_og,c_cu,c_zn,c_fe,c_phmin,c_phmax]
    '''

    pd_FacExceedances = pd_Concs.copy(deep = True)
    #add NEL columns
    for Constituent in pollLS: #for loop method of adding columns uses same dataframe (a deep copy is not made)
        pd_FacExceedances['nel_' + Constituent] = 0
    #add exceedance columns
    for Constituent in pollLS: #for loop method of adding columns uses same dataframe (a deep copy is not made)
        pd_FacExceedances['exc_' + Constituent] = 0        
    ls_NELNames = list(pd_FacsNELs_Dry.columns) #get list of NEL column names, in order that they appear in the wet/dry pd_FacsNELs 
    ls_v = [1 for a in ls_NELNames]
    
    #write nels for each sample
    for Constituent in pollLS:
        pd_FacExceedances['nel_' + Constituent] = pd_FacExceedances.apply(lambda row: 
                          EffLim.Get_pd_NEL_WetOrDry(row['sample_date'], pd_FacsNELs_Wet, pd_FacsNELs_Dry)['nel_'+Constituent], axis = 1)

    #     calculate exceedances:
    for Constituent in pollLS:
        pd_FacExceedances['exc_' + Constituent] = pd_FacExceedances.apply(lambda row: #for each row in pd_ExConcs:
                         EffLim.ExceedanceCalc(row, Constituent, row['Facility_ID'], pd_FacsNELs_Wet, pd_FacsNELs_Dry, True), axis = 1)
        
#     for Constituent in pollLS:
#         pd_FacExceedances['exc_' + Constituent] = pd_FacExceedances.apply(lambda row:
#                         max(0,row['c_' + Constituent] - row['nel_' + Constituent]) if Constituent != 'phmin'
#                         else max(0,row['nel_' + Constituent] - row['c_' + Constituent])
#                                                                           , axis=1)
#     for Constituent in pollLS:
#         pd_FacExceedances['exc_' + Constituent] = pd_FacExceedances['c_' + Constituent] - pd_FacExceedances['nel_' + Constituent]        

    return pd_FacExceedances


#############################################################################################################
#                          
#                                (DEFINE GLOBAL VARIABLE: pd_exFacExceedances)
############################################################################################################# 
# start_time = time.time()
pd_exFacExceedances = CalcExceedances (pd_ExConcs, pollLS, pd_FacsNELs_Wet, pd_FacsNELs_Dry)
# display(pd_exFacExceedances)
# pd_exFacExceedances = CalcExceedances0 (pd_ExConcs, pollLS, pd_FacsNELs_Wet, pd_FacsNELs_Dry)
print('Concentrations in excess of wet/dry season NELs')
#     print ('--- %s execution time in seconds ---' % (time.time() - start_time))
display(pd_exFacExceedances)

Concentrations in excess of wet/dry season NELs

,Facility_ID,sample_date,c_tss,c_turbidity,c_p,c_n,c_nn,c_an,c_og,c_cu,...,exc_p,exc_n,exc_nn,exc_an,exc_og,exc_cu,exc_zn,exc_fe,exc_phmin,exc_phmax
0,1,2017-04-19,122.0,NaN,NaN,2.430,NaN,NaN,NaN,NaN,...,NaN,1.910,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
1,1,2017-02-11,59.0,13.00,0.097,0.580,NaN,NaN,NaN,NaN,...,0.000,0.060,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.30
2,1,2016-12-04,80.0,71.20,0.300,0.910,0.120,0.141,0.0,NaN,...,0.200,0.390,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.20
3,1,2016-06-17,83.0,81.40,0.250,0.940,0.200,0.060,0.0,NaN,...,0.190,0.560,0.110,NaN,0.0,NaN,NaN,NaN,0.00,0.00
4,1,2015-02-20,33.5,17.50,0.176,1.830,0.190,1.090,5.7,NaN,...,0.076,1.310,0.010,NaN,0.0,NaN,NaN,NaN,0.00,0.54
5,1,2014-04-13,14.0,8.50,0.244,2.037,0.247,0.556,4.7,NaN,...,0.144,1.517,0.067,NaN,0.0,NaN,NaN,NaN,0.00,0.00
6,1,2013-03-09,163.0,24.40,0.155,1.199,0.239,0.073,5.0,NaN,...,0.055,0.679,0.059,NaN,0.0,NaN,NaN,NaN,0.00,0.09
7,2,2017-04-20,NaN,13.00,NaN,0.780,NaN,NaN,NaN,NaN,...,NaN,0.260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2,2017-01-21,0.0,31.00,0.100,1.580,0.000,0.418,0.0,NaN,...,0.000,1.060,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
9,2,2016-05-05,7.0,4.90,0.066,2.672,0.212,0.416,0.0,NaN,...,0.006,2.292,0.122,NaN,0.0,NaN,NaN,NaN,0.00,0.00
10,2,2014-06-03,18.5,3.30,0.075,1.136,0.116,0.100,4.8,NaN,...,0.015,0.756,0.026,NaN,0.0,NaN,NaN,NaN,0.00,0.00
11,2,2013-03-09,80.0,7.80,0.167,0.761,0.061,0.155,4.8,NaN,...,0.067,0.241,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
12,3,2017-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
13,3,2016-12-01,172.0,277.00,1.100,4.320,2.330,0.000,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0.50
14,3,2015-02-14,311.0,16.20,0.846,4.000,1.060,0.106,5.1,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0.00
15,3,2013-03-14,91.3,42.80,0.262,1.395,0.425,0.188,5.4,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0.00
16,4,2013-04-24,247.0,7.30,0.755,1.349,0.139,1.000,5.1,NaN,...,0.655,0.829,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
17,5,2017-01-24,249.0,46.00,2.300,15.850,0.000,NaN,4.0,NaN,...,2.200,15.330,0.000,NaN,0.0,NaN,NaN,NaN,NaN,NaN
18,5,2016-12-08,240.0,767.00,0.137,27.250,0.050,2.840,21.0,NaN,...,0.037,26.730,0.000,NaN,6.0,NaN,NaN,NaN,0.00,0.00
19,5,2016-05-25,89.5,13.20,2.920,14.542,0.142,0.714,9.9,NaN,...,2.860,14.162,0.052,NaN,0.0,NaN,NaN,NaN,0.00,0.00
20,5,2013-03-09,132.0,53.00,2.530,0.350,0.050,0.112,5.5,NaN,...,2.430,0.000,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
21,6,2016-12-31,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,...,10.200,26.730,3.500,NaN,44.0,NaN,NaN,NaN,0.00,0.70
22,7,2014-06-03,5.0,18.30,0.028,0.703,0.133,0.050,4.8,NaN,...,0.000,0.323,0.043,NaN,0.0,NaN,NaN,NaN,0.00,0.00
23,8,2013-03-07,322.0,1410.00,1.330,2.532,0.192,0.282,5.3,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0.07
24,9,2016-12-31,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,...,10.270,27.070,3.670,10.495,44.0,NaN,NaN,NaN,1.59,0.10
25,10,2016-12-31,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,...,10.200,26.730,3.500,NaN,44.0,NaN,NaN,NaN,0.00,0.70
26,11,2016-12-31,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,...,10.200,26.730,3.500,NaN,44.0,NaN,NaN,NaN,0.00,0.70
27,12,2013-03-22,62.5,34.40,0.451,2.647,0.377,0.283,5.3,NaN,...,0.351,2.127,0.197,NaN,0.0,NaN,NaN,NaN,0.00,0.07
28,13,2017-04-28,280.0,136.00,1.800,21.100,1.500,0.331,NaN,NaN,...,1.700,20.580,1.320,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,13,2017-02-06,80.0,73.00,1.200,4.900,0.720,0.228,0.0,NaN,...,1.100,4.380,0.540,NaN,0.0,NaN,NaN,NaN,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,104,2014-05-02,30.5,17.40,0.161,1.152,0.092,0.050,4.8,NaN,...,0.101,0.772,0.002,NaN,0.0,NaN,NaN,NaN,0.00,0.00
78,104,2013-01-27,233.0,240.00,0.558,1.243,0.203,0.068,4.7,NaN,...,0.458,0.723,0.023,NaN,0.0,NaN,NaN,NaN,0.00,0.00
79,105,2017-02-11,677.0,720.00,1.500,1.650,1.120,0.194,0.0,17.00,...,1.400,1.130,0.940,NaN,0.0,11.0,2.0,NaN,0.00,0.10
80,105,2017-02-11,910.0,105.00,0.300,1.080,0.520,0.121,4.0,58.00,...,0.200,0.560,0.340,NaN,0.0,52.0,708.0,NaN,0.00,0.10
81,105,2013-04-14,303.0,16.00,0.874,1.887,0.097,0.050,5.6,28.60,...,0.774,1.367,0.000,NaN,0.0,22.6,92.0,NaN,0.00,0.10
82,106,2017-02-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.10,...,NaN,NaN,NaN,NaN,NaN,2.1,0.0,NaN,0.00,0.10
83,106,2017-02-06,680.0,4000.00,1.200,5.700,3.680,0.000,0.0,100.00,...,NaN,NaN,NaN,NaN,0.0,94.0,111.0,NaN,0.00,0.00
84,106,2016-12-01,272.0,801.00,0.800,0.700,0.120,0.000,0.0,59.00,...,NaN,NaN,NaN,NaN,0.0,53.0,90.0,NaN,0.00,0.10
85,106,2016-06-17,151.0,8.15,0.096,0.680,0.000,0.000,0.0,92.60,...,NaN,NaN,NaN,NaN,0.0,86.6,168.0,NaN,0.00,0.00
86,106,2016-05-25,157.0,137.00,1.600,1.640,0.000,0.256,0.0,38.40,...,NaN,NaN,NaN,NaN,0.0,32.4,90.0,NaN,0.00,0.00
87,106,2015-02-03,119.0,6.30,0.119,1.296,0.076,0.101,4.9,105.00,...,NaN,NaN,NaN,NaN,0.0,99.0,288.0,NaN,0.00,0.00
88,106,2015-02-03,155.0,8.20,0.379,1.275,0.085,0.083,5.2,36.80,...,NaN,NaN,NaN,NaN,0.0,30.8,121.0,NaN,0.00,0.00
89,106,2013-03-09,10.5,17.00,0.124,0.856,0.106,0.063,5.6,45.60,...,NaN,NaN,NaN,NaN,0.0,39.6,178.0,NaN,0.00,0.00
90,107,2017-04-19,NaN,45.00,0.480,1.680,0.570,0.081,NaN,30.60,...,0.430,1.330,0.550,0.068,NaN,27.7,NaN,NaN,NaN,NaN
91,107,2017-04-19,NaN,47.00,0.480,1.450,0.470,0.070,NaN,86.00,...,0.430,1.100,0.450,0.057,NaN,83.1,321.0,NaN,NaN,NaN
92,107,2017-01-24,NaN,90.00,0.500,2.190,0.520,0.074,NaN,36.50,...,0.450,1.840,0.500,0.061,NaN,33.6,NaN,NaN,NaN,NaN
93,107,2017-01-24,124.0,66.00,0.570,1.940,0.540,0.090,0.0,39.00,...,0.520,1.590,0.520,0.077,0.0,36.1,72.0,NaN,0.00,0.00
94,107,2016-12-04,7.0,7.20,10.300,0.950,0.200,0.083,0.0,13.30,...,10.250,0.600,0.180,0.070,0.0,10.4,0.0,NaN,0.00,0.00
95,107,2016-05-14,52.0,31.10,0.281,2.489,0.309,0.220,0.0,34.40,...,0.231,2.139,0.289,0.207,0.0,31.5,125.0,NaN,0.11,0.00
96,107,2015-02-20,16.0,31.70,0.227,1.412,0.342,0.050,5.1,29.20,...,0.177,1.062,0.322,0.037,0.0,26.3,51.0,NaN,0.00,0.00
97,107,2013-03-24,6.0,7.80,0.102,1.021,0.281,0.094,4.8,17.20,...,0.052,0.671,0.261,0.081,0.0,14.3,0.0,NaN,0.00,0.00
98,108,2017-04-20,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.00,...,NaN,NaN,NaN,NaN,0.0,6.0,93.0,NaN,NaN,NaN
99,108,2017-01-21,13.0,22.00,0.150,1.770,0.120,0.330,59.0,21.00,...,NaN,NaN,NaN,NaN,44.0,15.0,183.0,NaN,0.00,0.00
100,108,2015-11-05,6.0,13.30,0.071,0.720,0.000,0.000,0.0,4.71,...,NaN,NaN,NaN,NaN,0.0,0.0,28.7,NaN,0.00,0.00
101,109,2017-02-11,142.0,15.90,0.890,3.470,2.830,0.108,0.0,18.90,...,0.860,3.290,2.820,0.103,0.0,16.0,0.0,NaN,0.00,0.00
102,110,2016-12-31,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,...,10.200,26.730,3.500,NaN,44.0,NaN,NaN,NaN,0.00,0.70
103,112,2017-04-20,NaN,43.00,0.200,0.700,0.140,NaN,NaN,NaN,...,0.100,0.180,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,112,2017-02-06,36.0,35.50,0.390,2.290,0.810,0.000,0.0,NaN,...,0.290,1.770,0.630,NaN,0.0,NaN,NaN,NaN,0.00,0.00
105,112,2013-03-09,155.0,15.80,0.775,2.221,0.461,0.050,5.6,NaN,...,0.675,1.701,0.281,NaN,0.0,NaN,NaN,NaN,0.00,0.00
106,240,2015-09-11,293.0,93.20,0.774,4.510,1.800,0.173,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
#############################################################################################################
#       CALCULATE EXISTING AGE FACTOR WEIGHTED AVERAGE FACILITY EXCEEDANCE VALUES FOR EACH CONSTITUENT:
#       
#############################################################################################################   
'''
Age factor acknowledges fact that more recent samples are a better representation of facility pollutant discharge 
(i.e. sampling data) and housekeeping-operations (i.e. inspections) realities. But, historic data as a whole also tells part 
of story (i.e. we want to dampen whipsaw effects that may occur if we only considered most recent data).

AF = exp(-SampleRank)
SampleRank = Newest sample = 1
              Second Newest sample = 2
              ...
              nth Newest Sample = n (out of n samples)
'''
def Calc_AFWtdExceedances0(pd_FacExceedances, pollLS, ShowCalculations):
    '''
    CALCULATE AGE FACTOR WEIGHTED AVERAGE FOR EACH CONSTITUENT:

    Age factor acknowledges fact that more recent samples are a better representation of facility pollutant discharge
    (i.e. sampling data) and housekeeping-operations (i.e. inspections) realities. But, historic data as a whole also tells part
    of story (i.e. we want to dampen whipsaw effects that may occur if we only considered most recent data).

    AF = exp(-SampleRank)
    SampleRank = Newest sample = 1
                  Second Newest sample = 2
                  ...
                  nth Newest Sample = n (out of n samples)

    INPUTS:
        pd_FacExceedances: dataframe holding exceedances
            FORMAT: ExPollConc.id, Facility_ID, Sample_Date, exceedance concentrations
        pollLS: list of polluant constituents that can be found in the dataframe's exceedance concentrations
        ShowCalculations: True if you want output of calculation summary. false if not

    RETURN:
        DataFrame of age factor weighted averages.
        FORMAT: Facility_ID, AFwtd_c_conc...
    '''
def _HELPER_SampleRank(ser_exc):
    #return a numeric value for the series of dates
    return int (str(ser_exc[0])[:10].replace('-',''))


def AFWFacExceedances(pd_FacExceedances, pollLS):
    '''
    CALCULATE AGE FACTOR WEIGHTED AVERAGE FOR EACH CONSTITUENT:

    Age factor acknowledges fact that more recent samples are a better representation of facility pollutant discharge
    (i.e. sampling data) and housekeeping-operations (i.e. inspections) realities. But, historic data as a whole also tells part
    of story (i.e. we want to dampen whipsaw effects that may occur if we only considered most recent data).

    AF = exp(-SampleRank)
    SampleRank = Newest sample = 1
                  Second Newest sample = 2
                  ...
                  nth Newest Sample = n (out of n samples)

    INPUTS:
        pd_FacExceedances: dataframe holding exceedances
            FORMAT: ExPollConc.id, Facility_ID, Sample_Date, exceedance concentrations
        pollLS: list of polluant constituents that can be found in the dataframe's exceedance concentrations
        ShowCalculations: True if you want output of calculation summary. false if not

    RETURN:
        DataFrame of age factor weighted averages.
        FORMAT: Facility_ID, AFwtd_c_conc...
    '''
    #calculate age factor weighted averages for each constituent in pollLS FOR each facility IN DATABASE.
    #write these averages into a dataframe called pd_AFWFacExceedances [Facility_ID,sample_date,c_tss,c_turbidity,c_p,c_n,c_nn,c_an,c_og,c_cu,c_zn,c_fe,c_phmin,c_phmax]
    pd_AFWFacExceedances = pd.DataFrame() #make an empty dataframe.  we will append to it.
    #group by facility, then by sample date, then for each facility-sample data pair, use max constituent concentration, 
    #then sort each facility by sample date w/ newest sample first.   
    pd_FacExceedances = pd_FacExceedances.groupby('Facility_ID').apply(lambda x: x.groupby('sample_date').agg(np.max).sort_index(ascending=False))
    #cleanup indexes
    pd_FacExceedances.drop('Facility_ID', axis = 1, inplace = True) #remove duplicate FAcility_ID column
    pd_FacExceedances.reset_index(1, inplace = True) #remove date groupby
    #insert blank columns:
    for Constituent in pollLS:
        #fill out SR helper column
        pd_FacExceedances['c_' + Constituent + '_HelpSR'] = pd_FacExceedances.apply(
            lambda row: _HELPER_SampleRank(row) if not (math.isnan(row['exc_'+Constituent])) else np.nan, axis = 1)
        #rank sample dates for each constituent of each facility
        pd_FacExceedances['c_' + Constituent + '_SR'] = pd_FacExceedances.groupby(
            ['Facility_ID'])['c_' + Constituent + '_HelpSR'].rank(ascending = False)-1
        #CALC AGE FACTOR
        pd_FacExceedances['c_' + Constituent + '_AF'] = pd_FacExceedances.apply(
            lambda row: math.exp(-row['c_' + Constituent + '_SR']), axis = 1)

        #CALC AGE FACTOR WTD CONCENTRATION
        pd_FacExceedances['c_' + Constituent + '_AF*c'] = pd_FacExceedances.apply(
            lambda row: row['c_' + Constituent + '_AF'] * row['exc_' + Constituent], axis =1 )

    #sum AF and AF*c columns (just do all the columns in pd_FacExceedances for now. make more efficient if need to)
    pd_sums = pd_FacExceedances.groupby(['Facility_ID']).sum() 
    #setup pd_AFWExceedances to include summed data
    pd_AFWFacExceedances = pd_sums.loc[:,['c_' + Constituent + '_AF'] + ['c_' + Constituent + '_AF*c']]
    #and do wtd average:
    for Constituent in pollLS:
        pd_AFWFacExceedances['c_' + Constituent + '_AFWtd'] =  pd_sums['c_' + Constituent + '_AF*c']/pd_sums['c_' + Constituent + '_AF']
    pd_AFWFacExceedances.reset_index(inplace = True)
    return pd_AFWFacExceedances

#############################################################################################################
#                        calculate age factor exceedances of existing samples in pd_exFacExceedances
#                                    DEFINE GLOBAL VARIABLE: pd_exAFWFacExceedances
############################################################################################################# 
start_time = time.time()
pd_exAFWFacExceedances = AFWFacExceedances(pd_exFacExceedances, pollLS)
print ('Age Factor Weighted Averages:')
display(pd_exAFWFacExceedances)
print ('--- %s execution time in seconds ---' % (time.time() - start_time))

Age Factor Weighted Averages:

,Facility_ID,c_phmax_AF,c_phmax_AF*c,c_tss_AFWtd,c_turbidity_AFWtd,c_p_AFWtd,c_n_AFWtd,c_nn_AFWtd,c_an_AFWtd,c_og_AFWtd,c_cu_AFWtd,c_zn_AFWtd,c_fe_AFWtd,c_phmin_AFWtd,c_phmax_AFWtd
0,1,1.580534,0.147544,52.064543,19.729711,0.067223,1.296165,0.029425,NaN,0.000000,NaN,NaN,NaN,0.000000,0.093351
1,2,1.553002,0.000000,0.961758,3.745947,0.004876,0.637805,0.031165,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
2,3,1.553002,0.183940,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.118441
3,4,1.000000,0.000000,197.000000,0.000000,0.655000,0.829000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
4,5,1.503215,0.000000,180.960566,199.986459,1.752511,17.437221,0.004532,NaN,1.421297,NaN,NaN,NaN,0.000000,0.000000
5,6,1.000000,0.700000,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
6,7,1.000000,0.000000,0.000000,12.800000,0.000000,0.323000,0.043000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
7,8,1.000000,0.070000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.070000
8,9,1.000000,0.100000,NaN,4180.500000,10.270000,27.070000,3.670000,10.495000,44.000000,NaN,NaN,NaN,1.590000,0.100000
9,10,1.000000,0.700000,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
10,11,1.000000,0.700000,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
11,12,1.000000,0.070000,12.500000,19.400000,0.351000,2.127000,0.197000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.070000
12,13,1.367879,0.000000,336.807197,469.755775,1.674704,15.243243,1.075904,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
13,14,1.000000,0.700000,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
14,15,1.000000,0.700000,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
15,34,1.000000,0.700000,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
16,41,1.000000,0.000000,NaN,4173.000000,10.170000,26.700000,3.640000,10.480000,44.000000,NaN,NaN,NaN,0.790000,0.000000
17,78,1.367879,0.000000,72.443042,99.914697,0.467443,1.707622,1.202961,NaN,0.000000,NaN,NaN,11395.135998,0.000000,0.000000
18,79,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,14500.000000,0.000000,0.000000
19,80,1.000000,0.000000,NaN,13.000000,0.148000,0.940000,0.250000,0.000000,0.000000,NaN,NaN,1650.000000,0.000000,0.000000
20,81,1.000000,0.700000,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,18500.000000,0.000000,0.700000
21,82,1.571317,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,4939.571691,0.000000,0.000000
22,89,1.000000,0.000000,0.000000,0.000000,0.000000,0.496000,0.016000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
23,90,1.000000,0.100000,NaN,4178.000000,10.250000,26.900000,3.660000,10.487000,44.000000,NaN,NaN,NaN,0.990000,0.100000
24,91,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
25,92,1.000000,0.100000,NaN,4179.750000,10.260000,27.000000,3.666000,10.491500,44.000000,NaN,NaN,NaN,1.590000,0.100000
26,93,1.000000,0.100000,NaN,4178.000000,10.250000,26.900000,3.660000,10.487000,44.000000,NaN,NaN,NaN,0.990000,0.100000
27,94,1.367879,0.000000,43.568510,30.576732,1.132181,1.131914,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
28,95,1.000000,0.700000,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
29,96,1.367879,0.000000,16.559240,4.868334,0.504841,4.083533,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
30,97,1.000000,0.000000,0.000000,0.000000,0.258000,2.260000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
31,98,1.000000,0.700000,NaN,NaN,NaN,NaN,NaN,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
32,99,1.000000,0.100000,NaN,4178.000000,10.250000,26.900000,3.655000,10.490000,44.000000,NaN,NaN,NaN,0.990000,0.100000
33,100,1.553002,0.000000,1.201509,7.864125,0.152872,2.174979,0.101017,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
34,101,1.000000,0.700000,NaN,NaN,NaN,NaN,NaN,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
35,102,1.000000,0.100000,NaN,4178.000000,10.250000,26.900000,3.660000,10.487000,44.000000,NaN,NaN,NaN,0.990000,0.100000
36,103,1.571317,0.110364,14.732924,16.599986,0.691190,0.829885,0.006187,NaN,0.000000,NaN,NaN,NaN,0.000000,0.070236
37,104,1.367879,0.000000,49.581809,69.211417,0.197012,0.758822,0.007648,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
38,105,1.367879,0.136788,696.752557,515.665239,1.231643,1.193739,0.687195,NaN,0.000000,44.093122,542.332084,NaN,0.000000,0.100000
39,106,1.578055,0.136788,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,81.689667,112.670680,NaN,0.000000,0.086681
40,107,1.571317,0.000000,NaN,49.764373,1.282323,1.405886,0.499160,0.074351,0.000000,63.327487,224.735333,NaN,0.009474,0.000000
41,108,1.367879,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,10.768053,7.662373,109.236597,NaN,0.000000,0.000000
42,109,1.000000,0.000000,NaN,15.400000,0.860000,3.290000,2.820000,0.103000,0.000000,16.000000,0.000000,NaN,0.000000,0.000000
43,110,1.000000,0.700000,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
44,112,1.367879,0.000000,28.238849,23.715705,0.198266,0.706055,0.179478,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
45,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

--- 0.8035717010498047 execution time in seconds ---

In [11]:
#############################################################################################################
#                       Estimate Facility Runoff Volumes
#                       DEFINE GLOBAL VARIABLE: pd_RunoffVols
#############################################################################################################   
#get facility imperviousness and area. order by Facility_ID so it's given in same order as monthly rain data dataframe
q_facDat = session.query(Facility_Chars.id.label('Facility_ID'), 
                         Facility_Chars.Indus_Area, 
                         Facility_Chars.Imperv.label('Imperv')).order_by('Facility_ID')
pd_facDat = pd.read_sql(q_facDat.statement,session.bind)

#get monthly rain data for each facility. order by facility_id so order matches facility data dataframe
q_rain = session.query(Facility_Chars.id.label('Facility_ID'), Facility_Monthly_Rain).filter(
    Facility_Chars.facility_monthly_rain_id == Facility_Monthly_Rain.id).order_by('Facility_ID')
pd_rainDat = pd.read_sql(q_rain.statement,session.bind)

#create a new dataframe to hold rain volumes
pd_RunoffVols = pd_facDat.loc[:,['Facility_ID']] #put facilities into the new dataframe
#now calculate volumes for each month:
for mo in range(1,13):
    pd_RunoffVols[calendar.month_name[mo]] = pd.DataFrame(pd_facDat['Indus_Area'] * pd_facDat['Imperv'] * pd_rainDat[calendar.month_name[mo]]/12)
#add monthlys together to get annual volume
pd_RunoffVols['Annual_Volume'] = pd_RunoffVols[[calendar.month_name[mo] for mo in range (1,13)]].sum(axis = 1)
display(pd_RunoffVols)

,Facility_ID,January,February,March,April,May,June,July,August,September,October,November,December,Annual_Volume
0,1,295325.500000,335399.166667,352822.500000,250024.833333,157681.166667,140257.833333,143742.500000,138515.500000,170748.666667,259607.666667,334528.000000,392025.000000,2.970678e+06
1,2,338916.586546,246040.406579,241152.186581,101837.916631,131167.236620,96134.993299,96949.696632,78211.519972,105096.729963,263149.176573,351951.839875,338101.883213,2.388710e+06
2,3,77993.831554,75165.810944,79184.577074,53434.705206,42122.622767,29322.108428,40038.818107,30810.540327,33638.560937,61918.767035,86924.422953,84691.775103,6.952465e+05
3,4,21601.669993,18133.109161,16552.499161,9439.754164,7771.332498,6454.157498,7376.179998,7595.709164,9878.812497,13698.619996,17298.898328,18177.014994,1.539778e+05
4,5,50545.681653,57766.493317,56824.648318,36261.032490,25272.840826,21191.512494,21348.486661,23232.176660,26528.634159,43795.792488,56039.777485,65615.201649,4.844223e+05
5,6,15974.190828,18427.906661,18127.451661,11667.669163,7911.981664,6810.313331,6910.464998,7311.071664,8462.815831,13871.005829,18027.299994,20831.546660,1.543337e+05
6,7,10058.130000,7407.150000,7069.280000,2858.900000,3742.560000,2521.030000,2754.940000,2365.090000,3066.820000,7407.150000,10447.980000,9928.180000,6.962721e+04
7,8,31502.679978,29712.754979,32397.642477,21658.092485,17183.279988,11873.169158,16168.989155,12529.474991,13603.429990,24999.285815,35142.194142,34426.224142,2.811972e+05
8,9,9823.037518,8034.365015,6568.240012,3782.602507,2140.542504,967.642502,1554.092503,3548.022506,3108.185006,6978.755013,7565.205014,9529.812517,6.360050e+04
9,10,7359.825004,4947.100003,3973.900002,2108.600001,1581.450001,648.800000,811.000000,3000.700002,3467.025002,4460.500002,5170.125003,5920.300003,4.344933e+04
10,11,38203.193333,36076.720000,44289.306667,30210.586667,24857.740000,15178.620000,20971.426667,22291.306667,28010.786667,32850.346667,40256.340000,39083.113333,3.722795e+05
11,12,15778.000002,11261.833335,11004.583335,6116.833334,6517.000001,4287.500001,4516.166667,4201.750001,5945.333334,10947.416668,14520.333335,15835.166669,1.109319e+05
12,13,10628.624992,8401.674994,9758.089992,4534.879997,4332.429997,2388.909998,2996.259998,2490.134998,2530.624998,6316.439995,10567.889992,11053.769991,7.599973e+04
13,14,5740.670832,3474.224166,3354.937499,1520.905000,1625.280833,954.293333,1177.955833,1371.796666,1893.675833,3518.956666,4652.179999,4726.734165,3.401161e+04
14,15,4947.973337,3860.506670,3806.133336,1644.793335,1359.333334,679.666667,747.633334,1372.926668,1549.640001,3425.520003,3710.980003,4730.480004,3.183559e+04
15,16,9943.041593,7764.165194,9544.092393,5892.172796,3805.361597,2700.579198,3836.049997,3437.100798,3651.919597,7917.607194,9329.273593,11569.526792,7.939089e+04
16,17,3686.471831,2784.256357,2629.036490,1096.240308,1377.576316,931.319199,1008.929133,911.916716,1144.746516,2745.451390,3861.094181,3676.770589,2.585381e+04
17,18,53844.879604,33653.049752,40716.035503,21022.769352,24845.091052,17532.823451,19610.172201,13793.595701,18197.575051,36976.807753,47779.021254,53927.973554,3.818998e+05
18,19,3815.469177,2877.239051,4020.986252,2528.753576,1813.911576,1438.619526,1804.976051,1563.716876,1635.201076,2904.045626,3815.469177,4440.955927,3.265934e+04
19,20,8321.346913,6368.778897,8832.421763,7757.854130,5281.106781,5516.987481,6394.987864,5530.091964,5700.450247,6866.749264,8164.093113,8924.153146,8.365902e+04
20,21,5387.240724,5977.084599,5387.240724,3788.108441,3198.264566,2202.083799,2726.389466,1953.038608,2293.837291,5033.334399,6409.636774,6304.775640,5.066104e+04
21,22,39352.347381,24823.730133,20301.577744,12892.945108,8370.792719,3367.560289,4041.072347,12411.865067,14721.049265,24054.002067,25593.458199,28864.802480,2.187952e+05
22,23,52497.744370,48245.590621,42685.081871,20115.958123,18480.514373,14064.816249,15700.259999,22242.034998,20770.135623,37942.294997,51680.022495,56749.898120,4.011744e+05
23,24,8061.145988,8891.241112,10108.713962,8983.473904,5515.520939,5404.841589,5681.539964,4593.193023,5866.005547,7636.875146,9131.046370,11215.507461,9.108911e+04
24,25,11225.985481,10110.989181,14292.225308,8261.108955,7019.408529,5118.846653,6487.251204,6335.206253,9401.446080,10567.124031,12898.479932,12163.596007,1.138817e+05
25,26,9456.558647,7778.121831,9006.246330,5874.528856,4441.716940,3111.248732,4482.654424,2845.155091,3254.529924,7409.684481,9865.933480,10091.089638,7.761747e+04
26,27,13384.363069,7531.143068,10457.753068,5306.919467,6223.923934,5716.644868,6145.881001,3980.189601,5014.258467,8467.658268,10106.559868,10867.478468,9.320277e+04
27,28,7193.151073,8000.020048,9098.735248,7897.015498,4806.878999,4635.204749,4892.716124,3982.842599,5115.892649,6798.300299,8257.531423,10042.943623,8.072123e+04
28,29,7272.970203,5877.276977,7580.278803,6504.698702,4238.297776,3982.207276,4737.674252,4404.756602,4648.042577,5838.863402,7362.601878,8348.550303,7.079622e+04
29,30,7089.868296,5606.305547,5653.154897,3279.454498,3013.974848,2576.714249,2545.481349,2139.453649,2717.262298,5934.250997,7246.032796,7292.882146,5.509484e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
211,212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
212,213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
213,214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
214,215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
215,216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
216,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
217,218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
218,219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
219,220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
220,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
221,222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
222,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
223,224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
224,225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
225,226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
226,227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
227,228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
228,229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
229,230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
230,231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
231,232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
232,233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
233,234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
234,235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
235,236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
236,237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
237,238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
238,239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
239,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00

In [83]:
#############################################################################################################
#                       Calculate raw pollutant exceedance potential scores (PEP_raw)
#                         PEP_raw = AFWtd Exceedance * Annual Runoff Volume (cu. ft)
############################################################################################################   
def _HELPER_calc_PEP_raw(row, Constituent, pd_RunoffVols):
    #HELPER function to calculate PEP_raw
    AnnRunoffVol = pd_RunoffVols.loc[pd_RunoffVols['Facility_ID']==row.loc['Facility_ID'],'Annual_Volume'].values[0]
    AFWFacExceedVal = row.loc['c_' + Constituent + '_AFWtd']
    return  AFWFacExceedVal * AnnRunoffVol
def CalcPEP_Raw(pd_AFWFacExceedances,pollLS, pd_RunoffVols):
    #use age factor weighted scores to calculate raw PEP scores for each constituent pollutant
    #input: 
        #pd_AFWFacExceedances: [Facility_ID	AFWtd_c_tss	AFWtd_c_turbidity	AFWtd_c_p	AFWtd_c_n	AFWtd_c_nn	AFWtd_c_an	AFWtd_c_og	AFWtd_c_cu	AFWtd_c_zn	AFWtd_c_fe	AFWtd_c_phmin	AFWtd_c_phmax]
        #pollLS: pollutant constituent list
        #pd_RunoffVols: RUNOFF VOLUMES [Facility_ID	January	February	March	April	May	June	July	August	September	October	November	December	Annual_Volume] 
    #output: pd_PEP_raw[	Facility_ID	PEP_raw_tss	PEP_raw_turbidity	PEP_raw_p	PEP_raw_n	PEP_raw_nn	PEP_raw_an	PEP_raw_og	PEP_raw_cu	PEP_raw_zn	PEP_raw_fe	PEP_raw_phmin	PEP_raw_phmax]

    #initialize pd_PEP_raw dataframe w/ Facility_IDs from pd_AFWFacExceedances
    pd_PEP_raw = pd_AFWFacExceedances.loc[:,['Facility_ID']]
#     display(pd_PEP_raw)
#     pd_PEP_raw.reset_index(drop=True)
    #for each facility in pd_exPEP_raw, calculate PEP_Raw SCORE for each pollutant constituent in the pollLS LIST:
    for Constituent in pollLS:
        pd_PEP_raw['PEP_raw_' + Constituent] = pd_AFWFacExceedances.apply(lambda row: 
                                               _HELPER_calc_PEP_raw(row,Constituent, pd_RunoffVols), axis = 1)    
    return pd_PEP_raw

#############################################################################################################
#                              calculate existing PEP_raw scores
#                              DEFINE GLOBAL VARIABLE: pd_exPEP_raw
#############################################################################################################  

pd_exPEP_raw = CalcPEP_Raw(pd_exAFWFacExceedances,pollLS,pd_RunoffVols)
display(pd_exPEP_raw)

,Facility_ID,PEP_raw_tss,PEP_raw_turbidity,PEP_raw_p,PEP_raw_n,PEP_raw_nn,PEP_raw_an,PEP_raw_og,PEP_raw_cu,PEP_raw_zn,PEP_raw_fe,PEP_raw_phmin,PEP_raw_phmax
0,1,1.546670e+08,5.861063e+07,1.996976e+05,3.850488e+06,8.741303e+04,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,277315.755592
1,2,2.297361e+06,8.947981e+06,1.164828e+04,1.523531e+06,7.444524e+04,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,0.000000
2,3,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,82345.979883
3,4,3.033362e+07,0.000000e+00,1.008554e+05,1.276476e+05,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,0.000000
4,5,8.766133e+07,9.687790e+07,8.489555e+05,8.446978e+06,2.195162e+03,NaN,6.885079e+05,NaN,NaN,NaN,0.000000,0.000000
5,6,3.024941e+08,6.429543e+08,1.574204e+06,4.125340e+06,5.401680e+05,NaN,6.790684e+06,NaN,NaN,NaN,0.000000,108033.602799
6,7,0.000000e+00,8.912283e+05,0.000000e+00,2.248959e+04,2.993970e+03,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,0.000000
7,8,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,19683.805211
8,9,NaN,2.658819e+08,6.531772e+05,1.721666e+06,2.334138e+05,6.674873e+05,2.798422e+06,NaN,NaN,NaN,101124.799158,6360.050261
9,10,8.516068e+07,1.810099e+08,4.431831e+05,1.161400e+06,1.520726e+05,NaN,1.911770e+06,NaN,NaN,NaN,0.000000,30414.527517
10,11,7.296678e+08,1.550916e+09,3.797251e+06,9.951031e+06,1.302978e+06,NaN,1.638030e+07,NaN,NaN,NaN,0.000000,260595.640667
11,12,1.386649e+06,2.152079e+06,3.893710e+04,2.359522e+05,2.185359e+04,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,7765.234168
12,13,2.559726e+07,3.570131e+07,1.272771e+05,1.158482e+06,8.176839e+04,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,0.000000
13,14,6.666276e+07,1.416924e+08,3.469184e+05,9.091304e+05,1.190406e+05,NaN,1.496511e+06,NaN,NaN,NaN,0.000000,23808.127576
14,15,6.239775e+07,1.326271e+08,3.247230e+05,8.509652e+05,1.114246e+05,NaN,1.400766e+06,NaN,NaN,NaN,0.000000,22284.910684
15,34,5.638667e+08,1.198504e+09,2.934408e+06,7.689876e+06,1.006905e+06,NaN,1.265823e+07,NaN,NaN,NaN,0.000000,201380.966557
16,41,NaN,2.750512e+09,6.703262e+06,1.759853e+07,2.399201e+06,6.907589e+06,2.900133e+07,NaN,NaN,NaN,520705.674909,0.000000
17,78,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN,0.000000e+00,0.000000,0.000000
18,79,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,4.448060e+09,0.000000,0.000000
19,80,NaN,1.620933e+06,1.845370e+04,1.172060e+05,3.117180e+04,0.000000e+00,0.000000e+00,NaN,NaN,2.057339e+08,0.000000,0.000000
20,81,2.181791e+08,4.637419e+08,1.135422e+06,2.975473e+06,3.896055e+05,NaN,4.897898e+06,NaN,NaN,2.059344e+09,0.000000,77921.106946
21,82,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,0.000000e+00,0.000000,0.000000
22,89,0.000000e+00,0.000000e+00,0.000000e+00,2.248371e+05,7.252811e+03,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,0.000000
23,90,NaN,2.968967e+09,7.283846e+06,1.911565e+07,2.600866e+06,7.452262e+06,3.126724e+07,NaN,NaN,NaN,703512.890691,71061.908151
24,91,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,0.000000
25,92,NaN,1.526735e+09,3.747665e+06,9.862276e+06,1.339078e+06,3.832225e+06,1.607186e+07,NaN,NaN,NaN,580778.504854,36526.949991
26,93,NaN,6.019064e+08,1.476673e+06,3.875367e+06,5.272804e+05,1.510817e+06,6.338890e+06,NaN,NaN,NaN,142625.018211,14406.567496
27,94,1.793600e+07,1.258763e+07,4.660887e+05,4.659791e+05,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,0.000000
28,95,1.392570e+09,2.959922e+09,7.247048e+06,1.899153e+07,2.486732e+06,NaN,3.126178e+07,NaN,NaN,NaN,0.000000,497346.455645
29,96,2.421862e+06,7.120152e+05,7.383521e+04,5.972347e+05,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,0.000000
30,97,0.000000e+00,0.000000e+00,4.986590e+04,4.368098e+05,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,0.000000
31,98,NaN,NaN,NaN,NaN,NaN,NaN,1.090812e+07,NaN,NaN,NaN,0.000000,173538.314265
32,99,NaN,1.778818e+09,4.364023e+06,1.145290e+07,1.556147e+06,4.466205e+06,1.873337e+07,NaN,NaN,NaN,421500.766271,42575.834977
33,100,1.704068e+06,1.115348e+07,2.168143e+05,3.084714e+06,1.432701e+05,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,0.000000
34,101,NaN,NaN,NaN,NaN,NaN,NaN,3.845954e+06,NaN,NaN,NaN,0.000000,61185.639139
35,102,NaN,4.912121e+08,1.205104e+06,3.162663e+06,4.303102e+05,1.232968e+06,5.173128e+06,NaN,NaN,NaN,116395.388051,11757.109904
36,103,1.620177e+07,1.825497e+07,7.600998e+05,9.126226e+05,6.804102e+03,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,77238.930371
37,104,2.139957e+07,2.987173e+07,8.503066e+04,3.275085e+05,3.300787e+03,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,0.000000
38,105,1.350819e+09,9.997382e+08,2.387829e+06,2.314344e+06,1.332289e+06,NaN,0.000000e+00,8.548488e+07,1.051438e+09,NaN,0.000000,193873.490941
39,106,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,2.297250e+08,3.168488e+08,NaN,0.000000,243762.423876
40,107,NaN,1.259836e+08,3.246333e+06,3.559146e+06,1.263675e+06,1.882265e+05,0.000000e+00,1.603201e+08,5.689407e+08,NaN,23984.761909,0.000000
41,108,NaN,NaN,NaN,NaN,NaN,NaN,8.607581e+06,6.125016e+06,8.731967e+07,NaN,0.000000,0.000000
42,109,NaN,1.086004e+07,6.064696e+05,2.320099e+06,1.988656e+06,7.263532e+04,0.000000e+00,1.128316e+07,0.000000e+00,NaN,0.000000,0.000000
43,110,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,0.000000
44,112,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,0.000000
45,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
#############################################################################################################
#                       Calculate normalized pollutant exceedance potential scores (PEP_norm)
#                         PEP_Norm = (PEP_raw - PEPmin) / (PEPMax - PEPmin)
############################################################################################################   
'''
NORMALIZE the raw Pollutant Exceedance Potential scores held in a pd_PEP_raw dataframe to a new dataframe called pd_PEP_norm.
Use calculation:
PEP_Norm = (PEP_raw - PEPmin) / (PEPMax - PEPmin)

Hold the PEPmax and PEPmin baseline scores used for the normalization in a dataframe called pd_NormBaselinePEP
****NOTE: LATER, we'll need to write the norm. basis to file
          This will allow us to use a common baseline in future (when we get more data, we'll want to have same baseline)         
'''
#############################################################################################################
#                           BUILD BASELINE dataframe pd_NormBaselinePEP
#                              DEFINE GLOBAL VARIABLE: pd_NormBaselinePEP
############################################################################################################  
##Use pd_exPEP_Ras data as our baseline max. Use 0 as min for all:
dict_NormBaselinePEP = {'PEP_Baseline_' + Constituent: [pd_exPEP_raw.loc[:,'PEP_raw_' + Constituent].max(),
                                             0]
                                             for Constituent in pollLS}
dict_NormBaselinePEP['MaxMin'] = ['Max','Min'] #add column identifying if row is max or min
pd_NormBaselinePEP = pd.DataFrame(dict_NormBaselinePEP) #write dict to new dataframe 
print ('This is the pd_NormBaselinePEP dataframe:')
display(pd_NormBaselinePEP)

#############################################################################################################
#                                        CALCULATE PEP_norm
#                         
############################################################################################################ 
def _HELPER_calc_PEP_norm(row, Constituent, pd_NormBaselinePEP):
    #HELPER function to calculate norm of PEP_raw for a given constituent
    #get max and min baseline values from pd_NormBAselinePEP
    BLmax= pd_NormBaselinePEP.loc[pd_NormBaselinePEP['MaxMin']=='Max', 'PEP_Baseline_' + Constituent].values[0] 
    BLmin= pd_NormBaselinePEP.loc[pd_NormBaselinePEP['MaxMin']=='Min', 'PEP_Baseline_' + Constituent].values[0]
    #i dont know how to catch div by zero errors using numpy :-/
    dv = row['PEP_raw_' + Constituent] - BLmin
    if dv != 0:
        v = (dv - BLmin)/(BLmax - BLmin)
    else:
        v = 0 #force to 0
    return v
def CalcPEP_norm(pd_PEP_raw,pollLS, pd_NormBaselinePEP):
    #calculate PEP_norm for each constituent pollutant of each facility in pd_PEP_raw
    #return pd_PEP_norm [	Facility_ID	PEP_norm_tss	PEP_norm_turbidity	PEP_norm_p	PEP_norm_n	PEP_norm_nn	PEP_norm_an	PEP_norm_og	PEP_norm_cu	PEP_norm_zn	PEP_norm_fe	PEP_norm_phmin	PEP_norm_phmax]
    
    #initialize pd_PEP_norm dataframe w/ Facility_IDs from pd_exPEP_raw
    pd_PEP_norm = pd_PEP_raw.loc[:,['Facility_ID']]
#     pd_PEP_norm.reset_index(drop=True,inplace=True)
    #loop through each constituent; calculating norms as we go:   
    for Constituent in pollLS:
            pd_PEP_norm['PEP_norm_' + Constituent] = pd_PEP_raw.apply(lambda row: 
                                               _HELPER_calc_PEP_norm(row,Constituent,pd_NormBaselinePEP), axis = 1)
    return pd_PEP_norm

#############################################################################################################
#                       Normalize existing raw pollutant exceedance potential scores 
#                         (DEFINE GLOBAL VARIABLE: pd_exPEP_norm)
############################################################################################################   
print('This is the pd_exPEP_norm dataframe:')
pd_exPEP_norm = CalcPEP_norm(pd_exPEP_raw,pollLS,pd_NormBaselinePEP)
display(pd_exPEP_norm)

#TO DO:  WRITE existing NORMALIZED PEP SCORES TO DB:

This is the pd_NormBaselinePEP dataframe:

,MaxMin,PEP_Baseline_an,PEP_Baseline_cu,PEP_Baseline_fe,PEP_Baseline_n,PEP_Baseline_nn,PEP_Baseline_og,PEP_Baseline_p,PEP_Baseline_phmax,PEP_Baseline_phmin,PEP_Baseline_tss,PEP_Baseline_turbidity,PEP_Baseline_zn
0,Max,7.452262e+06,2.297250e+08,4.448060e+09,1.911565e+07,2.600866e+06,3.126724e+07,7.283846e+06,497346.455645,703512.890691,1.392570e+09,2.968967e+09,1.051438e+09
1,Min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00

This is the pd_exPEP_norm dataframe:

,Facility_ID,PEP_norm_tss,PEP_norm_turbidity,PEP_norm_p,PEP_norm_n,PEP_norm_nn,PEP_norm_an,PEP_norm_og,PEP_norm_cu,PEP_norm_zn,PEP_norm_fe,PEP_norm_phmin,PEP_norm_phmax
0,1,0.111066,0.019741,0.027417,0.201431,0.033609,NaN,0.000000,NaN,NaN,NaN,0.000000,0.557591
1,2,0.001650,0.003014,0.001599,0.079701,0.028623,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
2,3,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.165571
3,4,0.021782,0.000000,0.013846,0.006678,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
4,5,0.062949,0.032630,0.116553,0.441888,0.000844,NaN,0.022020,NaN,NaN,NaN,0.000000,0.000000
5,6,0.217220,0.216558,0.216123,0.215810,0.207688,NaN,0.217182,NaN,NaN,NaN,0.000000,0.217220
6,7,0.000000,0.000300,0.000000,0.001177,0.001151,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
7,8,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.039578
8,9,NaN,0.089554,0.089675,0.090066,0.089745,0.089568,0.089500,NaN,NaN,NaN,0.143743,0.012788
9,10,0.061154,0.060967,0.060845,0.060757,0.058470,NaN,0.061143,NaN,NaN,NaN,0.000000,0.061154
10,11,0.523972,0.522376,0.521325,0.520570,0.500979,NaN,0.523881,NaN,NaN,NaN,0.000000,0.523972
11,12,0.000996,0.000725,0.005346,0.012343,0.008402,NaN,0.000000,NaN,NaN,NaN,0.000000,0.015613
12,13,0.018381,0.012025,0.017474,0.060604,0.031439,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
13,14,0.047870,0.047724,0.047628,0.047559,0.045770,NaN,0.047862,NaN,NaN,NaN,0.000000,0.047870
14,15,0.044808,0.044671,0.044581,0.044517,0.042841,NaN,0.044800,NaN,NaN,NaN,0.000000,0.044808
15,34,0.404911,0.403677,0.402865,0.402282,0.387142,NaN,0.404840,NaN,NaN,NaN,0.000000,0.404911
16,41,NaN,0.926421,0.920292,0.920635,0.922462,0.926912,0.927531,NaN,NaN,NaN,0.740151,0.000000
17,78,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
18,79,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,0.000000,0.000000
19,80,NaN,0.000546,0.002534,0.006131,0.011985,0.000000,0.000000,NaN,NaN,0.046252,0.000000,0.000000
20,81,0.156674,0.156196,0.155882,0.155656,0.149798,NaN,0.156646,NaN,NaN,0.462976,0.000000,0.156674
21,82,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
22,89,0.000000,0.000000,0.000000,0.011762,0.002789,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
23,90,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,1.000000,0.142882
24,91,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
25,92,NaN,0.514231,0.514517,0.515927,0.514859,0.514236,0.514016,NaN,NaN,NaN,0.825541,0.073444
26,93,NaN,0.202733,0.202733,0.202733,0.202733,0.202733,0.202733,NaN,NaN,NaN,0.202733,0.028967
27,94,0.012880,0.004240,0.063989,0.024377,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
28,95,1.000000,0.996954,0.994948,0.993507,0.956117,NaN,0.999825,NaN,NaN,NaN,0.000000,1.000000
29,96,0.001739,0.000240,0.010137,0.031243,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
30,97,0.000000,0.000000,0.006846,0.022851,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
31,98,NaN,NaN,NaN,NaN,NaN,NaN,0.348867,NaN,NaN,NaN,0.000000,0.348928
32,99,NaN,0.599137,0.599137,0.599137,0.598319,0.599309,0.599137,NaN,NaN,NaN,0.599137,0.085606
33,100,0.001224,0.003757,0.029766,0.161371,0.055086,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
34,101,NaN,NaN,NaN,NaN,NaN,NaN,0.123003,NaN,NaN,NaN,0.000000,0.123024
35,102,NaN,0.165449,0.165449,0.165449,0.165449,0.165449,0.165449,NaN,NaN,NaN,0.165449,0.023640
36,103,0.011634,0.006149,0.104354,0.047742,0.002616,NaN,0.000000,NaN,NaN,NaN,0.000000,0.155302
37,104,0.015367,0.010061,0.011674,0.017133,0.001269,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
38,105,0.970018,0.336729,0.327825,0.121071,0.512248,NaN,0.000000,0.372118,1.000000,NaN,0.000000,0.389816
39,106,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,0.301348,NaN,0.000000,0.490126
40,107,NaN,0.042434,0.445689,0.186190,0.485867,0.025258,0.000000,0.697878,0.541107,NaN,0.034093,0.000000
41,108,NaN,NaN,NaN,NaN,NaN,NaN,0.275291,0.026662,0.083048,NaN,0.000000,0.000000
42,109,NaN,0.003658,0.083262,0.121372,0.764613,0.009747,0.000000,0.049116,0.000000,NaN,0.000000,0.000000
43,110,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
44,112,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
45,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#############################################################################################################
#                                        Sum Normalized PEP Scores
#                                write scores to new dataframe called pd_PEP_sum
############################################################################################################ 
def SumNormPEPs (pd_PEP_norm):
    #general function to sum normalized PEPs
    pd_PEP_norm.set_index('Facility_ID', inplace=True) #move FAcility ID to index temporarily
    pd_PEP_norm['PEP_norm_sum'] = pd_PEP_norm.sum(axis = 1) #sum norm scores for each facility
    pd_PEP_norm.reset_index(inplace=True) #move facility ID from index
    return(pd_PEP_norm.loc[:,['Facility_ID', 'PEP_norm_sum']]) #copy summed norm scores and return dataframe

#############################################################################################################
#                                  Sum existing Normalized PEP Scores
#                              (DEFINE GLOBAL VARIABLE: pd_exPEP_sum)
############################################################################################################ 
pd_exPEP_sum = SumNormPEPs(pd_exPEP_norm)
display(pd_exPEP_sum)

In [ ]:
'''
#############################################################################################################
#                               CALCULATE WRS PEP BASE SCORES
#                      WRS PEP BASE SCORE = NORM_PEP_SCORE*(SampleUncertainty + 1) 
############################################################################################################ 
'''
def _HELPER_PEPUncertainty(ls_id, dict_unc):
    '''determine the uncertainty level based on sample method
        (retrieve list of sample methods from ExPollConcs table for facilities in ls_id; assign uncertainty level using dict_unc)
       input: 
            ls_id: list of facility ids
            dict_unc: dictionary of uncertainty values for each sample method
        return: 
            pd_unc: dataframe [Facility_ID, UncertaintyValue]
    '''
    #get sample method for each facility in ls_id list
    q = session.query(ExPollConcs.facility_id.label('Facility_ID'), ExPollConcs.sample_method.label('sample_method')).filter(
        ExPollConcs.facility_id.in_(ls_id)).distinct(ExPollConcs.facility_id).order_by(ExPollConcs.facility_id)
    pd_samplemethod = pd.read_sql(q.statement,session.bind)
    #use dict_unc to assign uncertainty value for each facility's sample method
    pd_samplemethod['Uncertainty_Value'] = pd_samplemethod['sample_method'].apply(lambda val: dict_unc[val])
    return pd_samplemethod
    
def CalcWRSPEPBaseScore(pd_PEP_sum):
    #calculate wrs pep base score = NORM_PEP_SCORE*(SampleUncertainty + 1) 
    #input: pd_PEP_sum dataframe containing COLUMNS [Facility_ID, PEP_norm_sum]
    #return: dataframe of WRS PEP Base Scores
    
    #make a list of Facility IDs in pd_PEP_sum
    ls_id = [np.asscalar(id) for id in pd_PEP_sum['Facility_ID']] #id given as numpy int. cast to python int https://stackoverflow.com/questions/9452775/converting-numpy-dtypes-to-native-python-types
    #make the pd_WRSPEPBaseScore dataframe:
    #write uncertainty information into pd_WRSPEPBaseScore
    pd_WRSPEPBaseScore = _HELPER_PEPUncertainty(ls_id, {'infield':0.25, 'sim_MaxType':1.0, 'sim_EMC':0.0})
    #copy in PEP_norm_sum values
    pd_WRSPEPBaseScore['PEP_norm_sum'] = pd_PEP_sum['PEP_norm_sum']
    #calculate PEP wrs and then write result into column
    pd_WRSPEPBaseScore['PEP_BaseRisk'] = pd_WRSPEPBaseScore['PEP_norm_sum'] * (pd_WRSPEPBaseScore['Uncertainty_Value'] + 1)
    return pd_WRSPEPBaseScore

#############################################################################################################
#                            CALCULATE existing WRS PEP BASE SCORES & (TO DO: WRITE SCORES TO database) 
#                              (DEFINE GLOBAL VARIABLE: pd_exWRSPEPBaseScore)
############################################################################################################ 
#calc WRS PEP Base Scores for existing normalized PEP sums (pd_exPEP_norm)
pd_exWRSPEPBaseScore = CalcWRSPEPBaseScore(pd_exPEP_sum)
display(pd_exWRSPEPBaseScore)

In [ ]:
'''
#############################################################################################################
#                                    CALCULATE WRS BASE SCORES  
#
############################################################################################################ 
CALCULATE WRS BASE SCORE:
    TABLE 1 Facilities: WRS_BASE = WRS_INHERENT + WRS_CONTROLLABLE
        WRS_CONTROLLABLE = WRS_BMP + WRS_PEP
        WRS_BMP = WRS_HOUSEKEEPING + WRS_PCBMP
    TABLE 1A Facilities: 
    TABLE 2 & non-permitted:

    INPUTS:
        pd_wrsNonPEPScores
        pd_wrsPEPScores
'''
def GET_pd_FacRisks(ls_id):
    '''helper function that takes in list of facility_char ids and returns dataframe of:
        Facility_ID
        Inherent base risk
        housekeeping bmp base risk
        sw plan base risk
        bmp inspection deficiency rate (pc base risk)
    
        these items are obtained by querying database table: Facility Risks
    '''    
    q_facriskIDs =  session.query(Facility_Chars.existing_facility_risk_id).filter(Facility_Chars.id.in_(ls_id)) #for facilities in pd_exPEP_sum, get existing_facility_risk_id records
    #use q_facriskIDs as filter on Facility_Risks table to get associated wrs pollutant base id
    q_facrisks = session.query(
        Facility_Chars.id.label('Facility_ID'),Facility_Risks.Category_RiskFactor, Facility_Risks.Inherent_BaseRisk, Facility_Risks.HousekeepingBMP_BaseRisk, Facility_Risks.SWPlan_BaseRisk, Facility_Risks.BMPInspectionDeficiency_Rate).filter(
            Facility_Risks.id.in_(q_facriskIDs)).filter(
                Facility_Risks.id == Facility_Chars.existing_facility_risk_id).order_by(Facility_Chars.id)
    pd_facrisks = pd.read_sql(q_facrisks.statement, session.bind)
    return pd_facrisks

def CalcWRSBaseScore(pd_wrsNonPEPScores, pd_wrsPEPScores):
    '''
    CALCULATE WRS BASE SCORE:
        TABLE 1 Facilities: WRS_BASE = WRS_INHERENT + WRS_CONTROLLABLE
            WRS_CONTROLLABLE = WRS_BMP + WRS_PEP
            WRS_BMP = WRS_HOUSEKEEPING + WRS_PCBMP
        TABLE 1A Facilities: 
        TABLE 2 & non-permitted:

        INPUTS:
            pd_wrsNonPEPScores [Facility_ID	Category_RiskFactor	Inherent_BaseRisk	HousekeepingBMP_BaseRisk	SWPlan_BaseRisk	BMPInspectionDeficiency_Rate]
            pd_wrsPEPScores [	Facility_ID	sample_method	Uncertainty_Value	PEP_norm_sum	PEP_BaseRisk ]

    '''
    #initialize pd_exPEP_norm dataframe w/ Facility_IDs from pd_exPEP_raw
    pd_wrsBaseScores = pd.merge(pd_wrsNonPEPScores, pd_wrsPEPScores, on='Facility_ID')
    
    #calculate Table 1 scores (no need to differentiate tables now. all facilities are table 1)
    pd_wrsBaseScores['BMP_BaseRisk'] = pd_wrsBaseScores['HousekeepingBMP_BaseRisk'] + pd_wrsBaseScores['BMPInspectionDeficiency_Rate']
    pd_wrsBaseScores['Controllable_BaseRisk'] = pd_wrsBaseScores['BMP_BaseRisk'] + pd_wrsBaseScores['PEP_BaseRisk']
    #calculate total score:
    pd_wrsBaseScores['Total_BaseRisk'] = pd_wrsBaseScores['Inherent_BaseRisk'] + pd_wrsBaseScores['Controllable_BaseRisk']
    return pd_wrsBaseScores

#############################################################################################################
#                             CALCULATE existing WRS BASE SCORES 
#                       (DEFINE GLOBAL VARIABLE: pd_exwrsNonPEPScores & pd_exwrsBaseScores)
############################################################################################################ 
#make a list of Facility IDs in pd_exWRSPEPBaseScore
ls_id = [np.asscalar(id) for id in pd_exWRSPEPBaseScore['Facility_ID']] #id given as numpy int. cast to python int https://stackoverflow.com/questions/9452775/converting-numpy-dtypes-to-native-python-types
#get nonPEP WRS scores for each facility
pd_exwrsNonPEPScores = GET_pd_FacRisks(ls_id)
#make base scores using existing sub-scores.
pd_exwrsBaseScores =  CalcWRSBaseScore(pd_exwrsNonPEPScores,pd_exWRSPEPBaseScore.loc[:,['Facility_ID','PEP_BaseRisk']])
display(pd_exwrsBaseScores)

# BMP FEASIBILITY EVALUATION
Talk about it...

Global variables related to existing sampling data include:  
 - 
 - 

Defined several functions that will be used by BMP Option Evaluation. These include:  
 - 
 -

In [ ]:
# %%capture cap --no-stderr
'''
#############################################################################################################
#                    EVALUATE BASE BMP FEASIBILITY at each facility  
#                Write results to the base_bmp_feasibility_test_results table.
############################################################################################################ 

'''
print('\n******Evaluating Base BMP feasibility at facilities.******')
ShowCalculations = True #flag indicating if steps should be outputted
Expr.ResetEvalErrorCount() #RESET EXPRESION EVALUATOR ERROR COUNT

#Only analyze bmps at facilities we have data for. make list of these facilities.
ls_id = [np.asscalar(id) for id in pd_exPEP_sum['Facility_ID']] #id given as numpy int. cast to python int https://stackoverflow.com/questions/9452775/converting-numpy-dtypes-to-native-python-types
for aFac in session.query(Facility_Chars).filter(Facility_Chars.id.in_(ls_id)):    
    if ShowCalculations: print ('\n***Evaluating base bmp feasibiilty tests for facility: ', aFac.Fac_Name), ' ***'
    myBMPs = session.query(Base_BMPs)
    for aBMP in myBMPs:
        if ShowCalculations:print ('\n######Evaluating feasibility of base_bmp: ', aBMP.bmp_name, ' ID: ', aBMP.id, '######')
        BBMP_Eval.Eval_base_bmp_feasibility_tests(aFac.id, aBMP, ShowCalculations)
session.commit
winsound.Beep(250,1000)
print ('*****************************************************************')
print ('* Completed evaluating Base BMP feasibility                     *')
if Expr.CountEvalErrors() >0:
    print (Expr.CountEvalErrors(), ' errors were encountered. Review output to identify location(s)')
    print ('Hint: expression evaluation error lines are prefixed by: FAULT!!!! Error occured while evaluating expression:')
else:
    print ('No errors detected.')
print ('*****************************************************************')

# with open('C:\\Users\\JonHonda\\Desktop\\Crap\\output.txt', 'w') as f:
#     f.write(cap.stdout)
# f.close()

In [ ]:
'''
#############################################################################################################
#                           Make all combinations of base bmps  
#                     Write results to the combos bmp database table
############################################################################################################ 
#MAXIMUM POLLUTANT REMOVAL RATES ARE DETERMINED BY IDENTIFYING 
#  THE BASE_BMP IN THE COMBO THAT PROVIDES THE HIGHEST REMOVAL RATE FOR A GIVEN POLLUTANT
'''
import time
print ('get a coffee...this one takes a while!')
start_time = time.time()
CBMP_Eval.Make_ALL_bmp_base_option_combos()
session.commit()
print ('--- %s execution time in seconds ---' % (time.time() - start_time))

In [ ]:
'''
#############################################################################################################
#                           TUNE BMP FEASIBILITY
#           
############################################################################################################ 
CODE TO TUNE BMP FEASIBILITY/.
Use base bmp feasibility results for each facility.
'''
# import itertools     #https://docs.python.org/3/library/itertools.html    
# import pandas as pd

# from sqlalchemy import and_

# def _Make_bmp_fingerprint(base_BMP_components):
#     #create fingerprint of the passed list of base_bmp_ids
#     #fingerprint is just a | separated list of ids of the base bmps that make up the combo bmp
#     #corresponds to bmp_options table's bmp_fingerprint field
#     #FORMAT: |bmp_option_base_component_id||bmp_option_base_component_id| w/ id's given in ascending order
#     fingerprint = '|' + '|'.join(str(id) + '|' for id in base_BMP_components)
#     return fingerprint

# def Eval_FacBMPCombo(pd_basebmps, myFacility, bmpCombo):
#     '''
#     input:
#         pdbasebmps: pandas built from a BBMP_Eval.evalFacility_BaseBMP dictionary list
#                     assme that pandas is passed in w/ index is set as base_bmp_id
#         myFacility: SQLA fac_chars record
#         bmpCombo: list of base_bmp_ids that make up this combo
    
#     #retrieve previously computed combo removal rate
#     #calculate combo cip and om cost, insert/update database
#     #insert/update combo data to Combo_BMP_Feasibility_Test_Results table

#     '''    
#     #get combo bmp pollutant removal rates into pandas 
#     q = session.query(Combo_BMPs.bmp_fingerprint, Combo_BMPs.id.label('combos_bmp_id'), PRR.id.label('PRR_id'),
#           PRR.r_tss, PRR.r_turbidity, PRR.r_p, PRR.r_n, PRR.r_nn, PRR.r_an,
#           PRR.r_og, PRR.r_cu, PRR.r_zn, PRR.r_fe, PRR.r_phmin, PRR.r_phmax
#         ).filter(Combo_BMPs.bmp_fingerprint == _Make_bmp_fingerprint(bmpCombo)).filter(
#         Combo_BMPs.bmp_option_removal_rate_id == PRR.id)  
#     pd_rr = pd.read_sql(q.statement,session.bind).applymap(lambda el: 0.00 if el is None else el) #el = 0. if nonetype to represent no removal rate change

#     #get costs in pandas
#     sumCIP = sum(pd_basebmps.loc[bmp_id,'calc_cip_cost'] for bmp_id in bmpCombo)
#     sumOM = sum(pd_basebmps.loc[bmp_id,'calc_om_cost'] for bmp_id in bmpCombo)
#     pd_sums = pd.DataFrame([{'calc_cip_cost':sumCIP, 'calc_om_cost': sumOM}])

#     #prepare dataframe to return:
#     pd_temp = pd.concat([pd_rr, pd_sums], axis = 1)#make one dataframe containing combo bmp's removal rates and costs:

# #     this one's for testing only (won't work with non-base bmps):
#     pd_temp.insert(0,'Facility_Name',myFacility.Fac_Name) #include facility id column
#     pd_temp.insert(3,'BMP_Name', session.query(Base_BMPs.bmp_name).filter(Base_BMPs.id == q.first().combos_bmp_id).first())    
#     return (pd_temp)
    

# def Eval_FacBMPCombos(aFac, ShowCalculations):
#     #a wrapper around Eval_FacBMPCombo
#     print('\n***Evaluating feasible bmp combos for facility: ', aFac.Fac_Name, '***')
#     print ('****Evaluating feasibile base bmps****')
#     df = pd.DataFrame(BBMP_Eval.evalFacility_BaseBMP(aFac, False)).set_index('base_bmp_id')
#     if ShowCalculations: display (df)   
#     df = df.loc[df['is_feasible'] == 1]
#     if ShowCalculations:
#         print ('****These are the feasible base bmps. I\'ll use them to make combos:****')
#         display (df)
#     feas_ls = df.index#send feasible base bmp ids to list
#     pd_temp = pd.DataFrame()

#     for feas in feas_ls:
#          pd_temp = pd.concat([pd_temp,Eval_FacBMPCombo(df,aFac, [feas])])            

#     print ('      There are ', len(pd_temp), ' combinations of feasible Base BMPs.')
#     return pd_temp
    
# def Eval_All_FacBMPCombos():
#     ShowCalculations = False
#     print ('Evaluating feasibile BMP Options for each facility:')
#     #Only analyze bmps at facilities we have data for. make list of these facilities.
#     ls_id = [np.asscalar(id) for id in pd_exPEP_sum['Facility_ID']] #id given as numpy int. cast to python int https://stackoverflow.com/questions/9452775/converting-numpy-dtypes-to-native-python-types
#     pd_BaseBMPCombos = pd.DataFrame() #create empty dataframe that we'll fill w/ the feasibile combos
#     for aFac in session.query(Facility_Chars).filter(Facility_Chars.id.in_(ls_id)):        
# #         Eval_FacBMPOptions(aFac, ShowCalculations)
#         pd_BaseBMPCombos = pd.concat([pd_BaseBMPCombos, Eval_FacBMPCombos(aFac, ShowCalculations)])
#     pd_BaseBMPCombos.reset_index(drop=True, inplace=True)
#     return pd_BaseBMPCombos


# #############################################################################################################
# #                           EVALUATE FEASIBILITY OF BMP COMBOS 
# #                   (DEFINE GLOBAL VARIABLE: pd_BaseBMPCombos)
# ############################################################################################################ 
# start_time = time.time()
# pd_BaseBMPCombos = Eval_All_FacBMPCombos()
# print ('--- %s execution time in seconds ---' % (time.time() - start_time))
# display(pd_BaseBMPCombos)
# # WRITE COMBOS RESULTS TO EXCEL FILE
# xlsFile = 'C:\\Users\\JonHonda\\Desktop\\Crap\\Combos.xls'
# print ('writing to excel file: ', xlsFile)
# writer = pd.ExcelWriter(xlsFile)
# pd_BaseBMPCombos.to_excel(writer,'Output')
# writer.save()
# session.commit()

In [ ]:
# '''
# #############################################################################################################
# #                         EVALUATE FEASIBILITY OF BMP COMBOS 
# #            insert/update combo data to Combo_BMP_Feasibility_Test_Results table & pd_BaseBMPCombos 
# ############################################################################################################ 
# Use base bmp feasibility results for each facility.
# '''
# import itertools     #https://docs.python.org/3/library/itertools.html    
# import pandas as pd

from sqlalchemy import and_

def _Make_bmp_fingerprint(base_BMP_components):
    #create fingerprint of the passed list of base_bmp_ids
    #fingerprint is just a | separated list of ids of the base bmps that make up the combo bmp
    #corresponds to bmp_options table's bmp_fingerprint field
    #FORMAT: |bmp_option_base_component_id||bmp_option_base_component_id| w/ id's given in ascending order
    fingerprint = '|' + '|'.join(str(id) + '|' for id in base_BMP_components)
    return fingerprint

def _CalcPollReduction(FacID, pollLS, pd_rr, pd_ExConcs):
    '''    
        #calculate reduced pollutant concentrations and reduced WRS scores
        #return dataframes:
            pd_RedWRSBaseScore (reduced WRS)
            *others could be returned but don't to save memory

    '''    
    ls_rr = ['r_' + Constituent for Constituent in pollLS]
    ls_c = ['c_' + Constituent for Constituent in pollLS]
    
    pd_rr_slim = pd_rr.loc[:,ls_rr]
    pd_c_slim = pd_ExConcs.loc[pd_ExConcs['Facility_ID'] == FacID, ls_c]

#     display(pd_rr_slim)
#     display (pd_c_slim)
    
    #load in fac id and sampling date:
    pd_RedConcs = pd_ExConcs.loc[pd_ExConcs['Facility_ID'] == FacID, ['Facility_ID', 'sample_date']]
    #calculate reduced concentrations (red = c * (1-rr)) 
    for Constituent in pollLS:
        pd_RedConcs['c_' + Constituent] = pd_c_slim['c_' + Constituent].apply(lambda row: row * (1- pd_rr_slim['r_' + Constituent]))
#     display(pd_RedConcs)
    
    #calculate wrs reduction:
    pd_RedFacExceedances = CalcExceedances(pd_RedConcs, pollLS, pd_FacsNELs_Wet, pd_FacsNELs_Dry)
#     display(pd_RedFacExceedances)
    pd_RedAFWExceedances = AFWFacExceedances(pd_RedFacExceedances, pollLS)
#     display(pd_RedAFWExceedances )
    pd_RedPEP_raw = CalcPEP_Raw(pd_RedAFWExceedances, pollLS, pd_RunoffVols)
#     display(pd_RedPEP_raw)
    pd_RedPEP_norm = CalcPEP_norm(pd_RedPEP_raw, pollLS, pd_NormBaselinePEP)
#     display(pd_RedPEP_norm )
    pd_RedPEP_sum = SumNormPEPs(pd_RedPEP_norm)
#     display(pd_RedPEP_sum )
    pd_RedWRSPEPBaseScore = CalcWRSPEPBaseScore(pd_RedPEP_sum)
#     display(pd_RedWRSPEPBaseScore )
    pd_RedWRSBaseScore = CalcWRSBaseScore(pd_exwrsNonPEPScores, pd_RedWRSPEPBaseScore.loc[:,['Facility_ID','PEP_BaseRisk']])
#     display(pd_RedWRSBaseScore )
    return pd_RedWRSBaseScore
    
    
def Eval_FacBMPCombo(pd_basebmps, myFacility, bmpCombo, ShowCalculations):
    '''
    input:
        pdbasebmps: pandas built from a BBMP_Eval.evalFacility_BaseBMP dictionary list
                    assme that pandas is passed in w/ index is set as base_bmp_id
        myFacility: SQLA fac_chars record
        bmpCombo: list of base_bmp_ids that make up this combo
    return:
        pd_rr (reduction rates)
        pd_RedWRSBaseScore (reduced WRS scores)
        pd_sums (o&m and construction costs)
    #retrieve previously computed combo removal rate
    #calculate combo cip and om cost, insert/update database
    #insert/update combo data to Combo_BMP_Feasibility_Test_Results table

    '''    
    #get combo bmp pollutant removal rates into pandas 
    q = session.query(Combo_BMPs.bmp_fingerprint, Combo_BMPs.id.label('combos_bmp_id'), PRR.id.label('PRR_id'),
          PRR.r_tss, PRR.r_turbidity, PRR.r_p, PRR.r_n, PRR.r_nn, PRR.r_an,
          PRR.r_og, PRR.r_cu, PRR.r_zn, PRR.r_fe, PRR.r_phmin, PRR.r_phmax
        ).filter(Combo_BMPs.bmp_fingerprint == _Make_bmp_fingerprint(bmpCombo)).filter(
        Combo_BMPs.bmp_option_removal_rate_id == PRR.id)  
    pd_rr = pd.read_sql(q.statement,session.bind).applymap(lambda el: 0.00 if el is None else el) #el = 0. if nonetype to represent no removal rate change

    #use information in pd_rr to get CBFTR_record - make new record if necessary\n",
    myCBFTR = Base.metadata.tables['combo_bmp_feasibility_test_results']
    myCBFTR_id = SQLA_main.insertupdateRec(myCBFTR,{'facility_id':myFacility.id, 
                                                    'combo_bmps_id':pd_rr['combos_bmp_id'][0],
                                                    'is_feasible':1
                                                   },
                   and_(
                        myCBFTR.c['facility_id'] == myFacility.id,
                        myCBFTR.c['combo_bmps_id'] == pd_rr['combos_bmp_id'][0]
                        ))
    session.flush()
    
    pd_RedWRSBaseScore = _CalcPollReduction(myFacility.id, pollLS, pd_rr, pd_ExConcs)
    
    #get costs in pandas
    sumCIP = sum(pd_basebmps.loc[bmp_id,'calc_cip_cost'] for bmp_id in bmpCombo)
    sumOM = sum(pd_basebmps.loc[bmp_id,'calc_om_cost'] for bmp_id in bmpCombo)
    pd_sums = pd.DataFrame([{'calc_cip_cost':sumCIP, 'calc_om_cost': sumOM}])

    if ShowCalculations:
        print ('Here is a summary of the combo: ', list(bmpCombo))
        display(pd.concat([pd_rr,pd_sums,pd_RedWRSBaseScore], axis = 1))
    #return several dataframes:
    return pd_rr, pd_RedWRSBaseScore, pd_sums
    
def Eval_FacBMPCombos(aFac, ShowCalculations):
    #a wrapper around Eval_FacBMPCombo
    print('\n***Evaluating feasible bmp combos for facility: ', aFac.Fac_Name, '***')
    print ('****Evaluating feasibile base bmps****')
    df = pd.DataFrame(BBMP_Eval.evalFacility_BaseBMP(aFac, False)).set_index('base_bmp_id')
    if ShowCalculations: display (df)   
    df = df.loc[df['is_feasible'] == 1]
    if ShowCalculations:
        print ('****These are the feasible base bmps. I\'ll use them to make combos:****')
        display (df)
    feas_ls = df.index#send feasible base bmp ids to list
    pd_temp = pd.DataFrame()

#     for CBOLen in range (1, len(feas_ls)+1): #+1 so it's inclusive of last count
#         for combo in  itertools.combinations(feas_ls,CBOLen):
#             pd_temp = pd.concat([pd_temp,Eval_FacBMPCombo(df,aFac, list(combo),ShowCalculations)])
    print ('****Completed base bmp feasibility evaluation.****')
    print ('****Evaluating combinations of feasible base bmps...****')
    ls_pd = [Eval_FacBMPCombo(df,aFac, list(combo),ShowCalculations)
            for CBOLen in range (1, len(feas_ls)+1) #+1 so it's inclusive of last count
                 for combo in itertools.combinations(feas_ls,CBOLen)
            ]           

    print ('      There are ', len(ls_pd), ' combinations of feasible Base BMPs.')
    return ls_pd
    
def Eval_All_FacBMPCombos():
    ShowCalculations = False
    session.query().filter(CBFTR).delete(synchronize_session = False)
    
    print ('Evaluating feasibile BMP Options for each facility:')
    #Only analyze bmps at facilities we have data for. make list of these facilities.
    ls_id = [np.asscalar(id) for id in pd_exPEP_sum['Facility_ID']] #id given as numpy int. cast to python int https://stackoverflow.com/questions/9452775/converting-numpy-dtypes-to-native-python-types
    ls_id = [1]
    
    
#     for aFac in session.query(Facility_Chars).filter(Facility_Chars.id.in_(ls_id)):
#         ls_pd =  [Eval_FacBMPCombos(aFac, ShowCalculations) for aFac in session.query(Facility_Chars).filter(Facility_Chars.id.in_(ls_id))]
    return ls_pd
    


#############################################################################################################
#                           EVALUATE FEASIBILITY OF BMP COMBOS 
#                   (DEFINE GLOBAL VARIABLE: pd_BaseBMPCombos)
############################################################################################################ 
start_time = time.time()
ls_pd_BaseBMPCombos = Eval_All_FacBMPCombos()
print ('--- %s execution time in seconds ---' % (time.time() - start_time))

session.commit()

In [ ]:
'''
#############################################################################################################
#                         EVALUATE FEASIBILITY OF BMP COMBOS 
#            insert/update combo data to Combo_BMP_Feasibility_Test_Results table & pd_BaseBMPCombos 
############################################################################################################ 
Use base bmp feasibility results for each facility.
'''
# import itertools     #https://docs.python.org/3/library/itertools.html    
# import pandas as pd

# from sqlalchemy import and_

# # def _Make_bmp_fingerprint(base_BMP_components):
# #     #create fingerprint of the passed list of base_bmp_ids
# #     #fingerprint is just a | separated list of ids of the base bmps that make up the combo bmp
# #     #corresponds to bmp_options table's bmp_fingerprint field
# #     #FORMAT: |bmp_option_base_component_id||bmp_option_base_component_id| w/ id's given in ascending order
# #     fingerprint = '|' + '|'.join(str(id) + '|' for id in base_BMP_components)
# #     return fingerprint

# # def _CalcPollReduction(FacID, pollLS, pd_rr, pd_ExConcs):
# #     '''    
# #         #calculate reduced pollutant concentrations and reduced WRS scores
# #         #return dataframes:
# #             pd_RedWRSBaseScore (reduced WRS)
# #             *others could be returned but don't to save memory

# #     '''    
# #     ls_rr = ['r_' + Constituent for Constituent in pollLS]
# #     ls_c = ['c_' + Constituent for Constituent in pollLS]
    
# #     pd_rr_slim = pd_rr.loc[:,ls_rr]
# #     pd_c_slim = pd_ExConcs.loc[pd_ExConcs['Facility_ID'] == FacID, ls_c]

# # #     display(pd_rr_slim)
# # #     display (pd_c_slim)
    
# #     #load in fac id and sampling date:
# #     pd_RedConcs = pd_ExConcs.loc[pd_ExConcs['Facility_ID'] == FacID, ['Facility_ID', 'sample_date']]
# #     #calculate reduced concentrations (red = c * (1-rr)) 
# #     for Constituent in pollLS:
# #         pd_RedConcs['c_' + Constituent] = pd_c_slim['c_' + Constituent].apply(lambda row: row * (1- pd_rr_slim['r_' + Constituent]))
# # #     display(pd_RedConcs)
    
# #     #calculate wrs reduction:
# #     pd_RedFacExceedances = CalcExceedances(pd_RedConcs, pollLS, pd_FacsNELs_Wet, pd_FacsNELs_Dry)
# # #     display(pd_RedFacExceedances)
# #     pd_RedAFWExceedances = AFWFacExceedances(pd_RedFacExceedances, pollLS)
# # #     display(pd_RedAFWExceedances )
# #     pd_RedPEP_raw = CalcPEP_Raw(pd_RedAFWExceedances, pollLS, pd_RunoffVols)
# # #     display(pd_RedPEP_raw)
# #     pd_RedPEP_norm = CalcPEP_norm(pd_RedPEP_raw, pollLS, pd_NormBaselinePEP)
# # #     display(pd_RedPEP_norm )
# #     pd_RedPEP_sum = SumNormPEPs(pd_RedPEP_norm)
# # #     display(pd_RedPEP_sum )
# #     pd_RedWRSPEPBaseScore = CalcWRSPEPBaseScore(pd_RedPEP_sum)
# # #     display(pd_RedWRSPEPBaseScore )
# #     pd_RedWRSBaseScore = CalcWRSBaseScore(pd_exwrsNonPEPScores, pd_RedWRSPEPBaseScore.loc[:,['Facility_ID','PEP_BaseRisk']])
# # #     display(pd_RedWRSBaseScore )
# #     return pd_RedWRSBaseScore
    
    
# # def Eval_FacBMPCombo(pd_basebmps, myFacility, bmpCombo, ShowCalculations):
# #     '''
# #     input:
# #         pdbasebmps: pandas built from a BBMP_Eval.evalFacility_BaseBMP dictionary list
# #                     assme that pandas is passed in w/ index is set as base_bmp_id
# #         myFacility: SQLA fac_chars record
# #         bmpCombo: list of base_bmp_ids that make up this combo
# #     return:
# #         pd_rr (reduction rates)
# #         pd_RedWRSBaseScore (reduced WRS scores)
# #         pd_sums (o&m and construction costs)
# #     #retrieve previously computed combo removal rate
# #     #calculate combo cip and om cost, insert/update database
# #     #insert/update combo data to Combo_BMP_Feasibility_Test_Results table

# #     '''    
# #     #get combo bmp pollutant removal rates into pandas 
# #     q = session.query(Combo_BMPs.bmp_fingerprint, Combo_BMPs.id.label('combos_bmp_id'), PRR.id.label('PRR_id'),
# #           PRR.r_tss, PRR.r_turbidity, PRR.r_p, PRR.r_n, PRR.r_nn, PRR.r_an,
# #           PRR.r_og, PRR.r_cu, PRR.r_zn, PRR.r_fe, PRR.r_phmin, PRR.r_phmax
# #         ).filter(Combo_BMPs.bmp_fingerprint == _Make_bmp_fingerprint(bmpCombo)).filter(
# #         Combo_BMPs.bmp_option_removal_rate_id == PRR.id)  
# #     pd_rr = pd.read_sql(q.statement,session.bind).applymap(lambda el: 0.00 if el is None else el) #el = 0. if nonetype to represent no removal rate change

# #     #use information in pd_rr to get CBFTR_record - make new record if necessary\n",
# #     myCBFTR = Base.metadata.tables['combo_bmp_feasibility_test_results']
# #     myCBFTR_id = SQLA_main.insertupdateRec(myCBFTR,{'facility_id':myFacility.id, 
# #                                                     'combo_bmps_id':pd_rr['combos_bmp_id'][0],
# #                                                     'is_feasible':1
# #                                                    },
# #                    and_(
# #                         myCBFTR.c['facility_id'] == myFacility.id,
# #                         myCBFTR.c['combo_bmps_id'] == pd_rr['combos_bmp_id'][0]
# #                         ))
# #     session.flush()
    
# #     pd_RedWRSBaseScore = _CalcPollReduction(myFacility.id, pollLS, pd_rr, pd_ExConcs)
    
# #     #get costs in pandas
# #     sumCIP = sum(pd_basebmps.loc[bmp_id,'calc_cip_cost'] for bmp_id in bmpCombo)
# #     sumOM = sum(pd_basebmps.loc[bmp_id,'calc_om_cost'] for bmp_id in bmpCombo)
# #     pd_sums = pd.DataFrame([{'calc_cip_cost':sumCIP, 'calc_om_cost': sumOM}])

# #     if ShowCalculations:
# #         print ('Here is a summary of the combo: ', list(bmpCombo))
# #         display(pd.concat([pd_rr,pd_sums,pd_RedWRSBaseScore], axis = 1))
# #     #return several dataframes:
# #     return pd_rr, pd_RedWRSBaseScore, pd_sums

# def Eval_FacBMPCombos(ls_FacIDs, ShowCalculations):
#     '''
#     #make a big DF - EMPTY at first. populated as simulation advances:
#     COLUMNS:
#     [FACILITY_ID, COMBO_ID, BMP_FINGERPRINT, [removal_rates], [exConcs], [exPEPScores],exWRSTotal ,[redConcs], [redPEPScores], redWRSTotal
    
    
#     '''
    
    
#     ls_dict = [result for FacID in ls_FacIDs for result in BBMP_Eval.evalFacility_BaseBMP(FacID, ShowCalculations)]
#     pd_FsblBMPs = pd.DataFrame(ls_dict).set_index('base_bmp_id')
#     if ShowCalculations:     display(pd_FsblBMPs) 
#     pd_FsblBMPs = pd_FsblBMPs.loc[pd_FsblBMPs['is_feasible'] == 1]
#     if ShowCalculations:
#         print ('****These are the feasible base bmps. I\'ll use them to make combos:****')
#         display (pd_FsblBMPs)
        
#     feas_ls = df.index#send feasible base bmp ids to list
        
# #     for CBOLen in range (1, len(feas_ls)+1): #+1 so it's inclusive of last count
# #         for combo in  itertools.combinations(feas_ls,CBOLen):    
    


# #     pd_temp = pd.DataFrame()

# # #     for CBOLen in range (1, len(feas_ls)+1): #+1 so it's inclusive of last count
# # #         for combo in  itertools.combinations(feas_ls,CBOLen):
# # #             pd_temp = pd.concat([pd_temp,Eval_FacBMPCombo(df,aFac, list(combo),ShowCalculations)])
# #     print ('****Completed base bmp feasibility evaluation.****')
# #     print ('****Evaluating combinations of feasible base bmps...****')
# #     ls_pd = [Eval_FacBMPCombo(df,aFac, list(combo),ShowCalculations)
# #             for CBOLen in range (1, len(feas_ls)+1) #+1 so it's inclusive of last count
# #                  for combo in itertools.combinations(feas_ls,CBOLen)
# #             ]           

# #     print ('      There are ', len(ls_pd), ' combinations of feasible Base BMPs.')
# #     return ls_pd

    
    
# def Eval_All_FacBMPCombos():
#     #we need 2 dataframes:
#     #1. Ex Concs for each facility
#     #2. A Feasibile bmp option for each facility, including removal rates
    
    
#     ShowCalculations = False
#     session.query(CBFTR).delete(synchronize_session = False)
    
#     print ('Evaluating feasibile BMP Options for each facility:')
#     #Only analyze bmps at facilities we have data for. make list of these facilities.
#     ls_FacIDs = [np.asscalar(id) for id in pd_exPEP_sum['Facility_ID']] #id given as numpy int. cast to python int https://stackoverflow.com/questions/9452775/converting-numpy-dtypes-to-native-python-types
#     ls_FacIDs = [1,2]
#     Eval_FacBMPCombos(ls_FacIDs,ShowCalculations)
    
# #     for aFac in session.query(Facility_Chars).filter(Facility_Chars.id.in_(ls_id)):
# #         ls_pd =  [Eval_FacBMPCombos(aFac, ShowCalculations) for aFac in session.query(Facility_Chars).filter(Facility_Chars.id.in_(ls_id))]
# #     return ls_pd
    


# #############################################################################################################
# #                           EVALUATE FEASIBILITY OF BMP COMBOS 
# #                   (DEFINE GLOBAL VARIABLE: pd_BaseBMPCombos)
# ############################################################################################################ 
# start_time = time.time()
# Eval_All_FacBMPCombos()
# print ('--- %s execution time in seconds ---' % (time.time() - start_time))

# session.commit()

In [ ]:
print(type(session.query(Facility_Chars.Fac_Name).filter(Facility_Chars.id == 1).first()[0]))

# BMP FEASIBILITY EVALUATION
Talk about it...

Global variables related to existing sampling data include:  
 - 
 - 

Defined several functions that will be used by BMP Option Evaluation. These include:  
 - 
 -

In [ ]:
'''
ESTIMATE FACIITY PEP RISK REDUCTION BY USING CERTAIN BMP COMBOS
'''
import random
def CalWRS_PEP_Reduction(pd_Reduction):
    pd_return = pd_Reduction * pdWRS_PEP

FacGroup = pd_BaseBMPCombos.groupby('Facility_ID') #group combo options by facility_id
pd_BMPOpt = FacGroup.apply(lambda aFac:  aFac.iloc[random.randint(0,aFac.shape[0]-1)]) #randomly select a combo option for each facilityp

In [ ]:
# session.close()
# engine.dispose()

# This is scratch paper...

In [ ]:
# http://pythonhow.com/accessing-dataframe-columns-rows-and-cells/
import pandas as pd #import in pandas library
print ('#get csv data and read into pandas')
df1=pd.read_csv("http://pythonhow.com/wp-content/uploads/2016/01/Income_data.csv")
print (df1)
print ('#write new dataframe w/ index set to the "State" column in the csv')
df2=df1.set_index("State").copy()
print (df2)
print ('#extract a portion of the dataframe: States = Alaska to Arkansas; and Dates 2005:2007')
print (df2.loc["Alaska":"Arkansas","2005":"2007"])

print ('Get only certain States, using a list of states:')
getStates = ['Alaska', 'Arizona']
print (df2.loc[getStates])

print ('#slice a column:')
df2.loc[: , "2005"]
print ('get a cell:')
df2.loc['Alaska','2005']
print ('#get max of 2005 data')
print (df2.loc[:,'2005'].max())
print ('take 2005 column and put into list')
LS = df2['2005'].tolist() #this is a series. we use the .tolist() to convert from series to list
print (type(LS))

In [ ]:
df = pd.DataFrame({'col1' : [1.0] * 5, 
                   'col2' : [2.0] * 5, 
                   'col3' : [3.0] * 5 }, index = range(1,6),)
display(df)
df2 = pd.DataFrame({'col1' : [10.0] * 5, 
                    'col2' : [100.0] * 5, 
                    'col3' : [1000.0] * 5 }, index = range(1,6),)
display(df2)
df.mul(df2, 0) # element by element multiplication no problems

In [ ]:
import datetime

# xmin = datetime.datetime.strptime('1/1/2018', "%m/%d/%Y").date()
# xmax = datetime.datetime.strptime('5/6/2018', "%m/%d/%Y").date()

# xmin <= datetime.date(2018,1,5) <= xmax

#     Wet Season is from: January 1 through April 30 and November 1 through December 31
#     Dry Season is from: May 1 through October 31

SampleDate = datetime.date(2018,11,1)

#Wet Season 1:
if datetime.date(SampleDate.year, 1,1) <= SampleDate <= datetime.date(SampleDate.year, 4,30):
    print ('ws 1')
elif datetime.date(SampleDate.year, 5,1) <= SampleDate <= datetime.date(SampleDate.year, 10,31):
    print ('dry')
else:
    print ('ws 2')
    
    
import numpy as np    
# np.max([float('nan'),0])
np.max([0,float('nan')])

if math.isnan(10)

In [ ]:
#import the pandas library
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

# display (df)

# display (df.groupby('Team').groups)


# import numpy as np


# grouped = df.groupby('Year')
# print (grouped['Points'].agg(np.max))

grp = df.groupby(['Team','Year'])
print (grp)
grp.apply(lambda x: print (x.iloc[0]['Points']))

In [ ]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [0.1, 0.2]},
                      index=['a', 'b'])
for idx in df.index:
    print (idx)
    print (df.loc[idx]['col2'])

In [38]:
import pandas as pd
import numpy as np
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3],
        'coverage': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
display(df)

dfx = df.copy()

capitalizer = lambda x: x.upper()

dfx['name'] = dfx['name'].apply(capitalizer)
display(df)
display(dfx)

data.name.unique

            coverage   name  reports  year
Cochice           25  Jason        4  2012
Pima              94  Molly       24  2012
Santa Cruz        57   Tina       31  2013
Maricopa          62   Jake        2  2014
Yuma              70    Amy        3  2014

            coverage   name  reports  year
Cochice           25  Jason        4  2012
Pima              94  Molly       24  2012
Santa Cruz        57   Tina       31  2013
Maricopa          62   Jake        2  2014
Yuma              70    Amy        3  2014

            coverage   name  reports  year
Cochice           25  JASON        4  2012
Pima              94  MOLLY       24  2012
Santa Cruz        57   TINA       31  2013
Maricopa          62   JAKE        2  2014
Yuma              70    AMY        3  2014

AttributeError: 'dict' object has no attribute 'name'

In [ ]:
def div0( a, b ):
    """ ignore / 0, div0( [-1, 0, 1], 0 ) -> [0, 0, 0] """
    with np.errstate(divide='ignore', invalid='ignore'):
        c = np.true_divide( a, b )
        c[ ~ np.isfinite( c )] = 0  # -inf inf NaN
    return c

div0( [-1, 0, 1], 0 )

In [ ]:
afile = open("testfile.txt","a") 
# file.write("Hello World") 
# file.write("This is our new text file") 
# file.write("and this is another line.") 
# file.write("Why? Because we can.") 
print ("test", file=afile)
afile.close()

In [ ]:
# import pandas as pd
# x = pd.DataFrame({0: [1,2,float('nan')], 1: [4,5,6], 2: [7,8,9] })
# y = pd.Series([-1, float('nan'), -1])
# print (y)
# # display(x.apply(lambda col: y*col))

# q = session.query(
#       PRR.r_tss, PRR.r_turbidity, PRR.r_p, PRR.r_n, PRR.r_nn, PRR.r_an,
#       PRR.r_og, PRR.r_cu, PRR.r_zn, PRR.r_fe, PRR.r_phmin, PRR.r_phmax
# ).limit(1)
# pd_rr = pd.read_sql(q.statement,session.bind).applymap(lambda el: 0 if el is None else el) #change nonetypes to 0 rem
# display(pd_rr)
# ls_c = ['c_' + Constituent for Constituent in pollLS] #make list of concentration headers 
# pd_c = pd_ExConcs.loc[pd_ExConcs['Facility_ID'] == 1, ls_c]
# display(pd_c)

# print (pd_rr['r_tss'][0])

# # pd_ConcsRed = pd_ExConcs.loc[pd_ExConcs['Facility_ID'] ==155, ['Facility_ID', 'sample_date']]
# # for Constituent in pollLS:
# #     pd_ConcsRed['c_' + Constituent] = pd_c['c_' + Constituent] * pd_rr['r_' + Constituent][0]



# display(pd_ConcsRed)

In [ ]:
#WHICH METHOD IS FASTER? APPLY OR LIST COMPREHENSION?
num = 10000
start_time = time.time()
def fun1a(x):
    return pd.DataFrame([{'fun1':x.loc['id']}])
pd_maina = pd.DataFrame([{'id': i} for i in range(0,num)])
pd_maina['fun1'] = pd_maina.apply(lambda x: fun1a(x), axis=1)
print ('--- %s execution time in seconds ---' % (time.time() - start_time))
# display(pd_maina)

start_time = time.time()
def fun1b(x):
    return pd.DataFrame([{'fun1':x}])
pd_mainb = pd.DataFrame([{'id': i} for i in range(0,num)])
ls = [fun1b(x) for x in range(0,num)]
pd_tmp = pd.concat(ls)
pd_tmp.reset_index(drop=True, inplace=True)
# display(pd_mainb)
# display(pd_tmp)
g = pd.concat([pd_mainb,pd_tmp], axis=1)
print ('--- %s execution time in seconds ---' % (time.time() - start_time))
# display(g)

# display(pd_main)

In [ ]:
#nested list comprehension to concat dataframes:


def fun(x):
    return pd.DataFrame([{'1':x*1}]), pd.DataFrame([{'2':x*2}]), pd.DataFrame([{'3':x*3}])
#this LC stores 3 dataframes per fun call into a single element of list LS
ls = [fun(x) for x in range(0,10)]

#this concats the stored dataframe lists into 3 separate dataframes, outputting each dataframe as we go
for i in range(0,3):
    col = [x[i] for x in ls]
    dfcol = pd.concat(col)
    display(dfcol)

#this LC captures the dataframes into a list and then concatenates to a single dataframe
lsall = [pd.concat([x[i] for i in range(0,3)], axis=1)  for x in ls]
df = pd.concat(lsall)
df

In [ ]:
def xx(g):
    return g*1, 2, 4


ls_pd = [
            xx(i) for CBOLen in range (1,4) for i in range(0,CBOLen)
        ]
print (len(ls_pd))
print (ls_pd)

for CBOLen in range (1,4):
    for i in range(0,CBOLen):
        print (xx(i))

In [ ]:
def fun(i):
    return [{'a':1, 'b':2}]
# ls = [{}]
# ls = ls + fun()
ls = [a for i in range(4) for a in fun(i) ]

print (ls)

In [ ]:
#SHALLOW COPY PANDAS
import pandas as pd



ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
# display (df)

def fun(pd_me):
    print ('df id in fun: ', id(pd_me))
    pd_me = pd.concat([pd_me,pd_me]) #<--this causes a new item to be made
    return pd_me

print ('df id before fun pass ', id(df))
df_new = fun(df)
print ('df id after fun pass ', id(df_new))

df_new['g'] = 0
print (id(df_new))


def fun2(aslice):
    aslice['a'] = 100
    return aslice
    
df.loc[:,['Year']] = fun2(df.loc[:,['Year']])
display (df)

In [ ]:
#RENAME PANDAS COLUMNS
ipl_data = {'gTeam': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'gRank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'gYear': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'gPoints':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)


ls = list(df.columns)
dict_repl = {col: col.replace('g','',1) for col in ls}
df = df.rename(columns = dict_repl)
print (dict_repl)
print (df.shape[0])
df

In [34]:
df = pd.DataFrame({'rep':[0,1,1,1,2,3,2,3,4,5,1]})
df['rep_f'] = df['rep']!=df['rep']
display(df)
df['rep_f'] = (df['rep']!=df['rep'].shift())
df['rep_f'] = (df['rep']!=df['rep'].shift()).cumsum()-1
df

    rep  rep_f
0     0  False
1     1  False
2     1  False
3     1  False
4     2  False
5     3  False
6     2  False
7     3  False
8     4  False
9     5  False
10    1  False

    rep  rep_f
0     0      0
1     1      1
2     1      1
3     1      1
4     2      2
5     3      3
6     2      4
7     3      5
8     4      6
9     5      7
10    1      8