# My Scratch Paper!
A place to try stuff out, make some notes on code snippets and recipes...

In [ ]:
# http://pythonhow.com/accessing-dataframe-columns-rows-and-cells/
import pandas as pd #import in pandas library
print ('#get csv data and read into pandas')
df1=pd.read_csv("http://pythonhow.com/wp-content/uploads/2016/01/Income_data.csv")
print (df1)
print ('#write new dataframe w/ index set to the "State" column in the csv')
df2=df1.set_index("State").copy()
print (df2)
print ('#extract a portion of the dataframe: States = Alaska to Arkansas; and Dates 2005:2007')
print (df2.loc["Alaska":"Arkansas","2005":"2007"])

print ('Get only certain States, using a list of states:')
getStates = ['Alaska', 'Arizona']
print (df2.loc[getStates])

print ('#slice a column:')
df2.loc[: , "2005"]
print ('get a cell:')
df2.loc['Alaska','2005']
print ('#get max of 2005 data')
print (df2.loc[:,'2005'].max())
print ('take 2005 column and put into list')
LS = df2['2005'].tolist() #this is a series. we use the .tolist() to convert from series to list
print (type(LS))

In [ ]:
df = pd.DataFrame({'col1' : [1.0] * 5, 
                   'col2' : [2.0] * 5, 
                   'col3' : [3.0] * 5 }, index = range(1,6),)
display(df)
df2 = pd.DataFrame({'col1' : [10.0] * 5, 
                    'col2' : [100.0] * 5, 
                    'col3' : [1000.0] * 5 }, index = range(1,6),)
display(df2)
df.mul(df2, 0) # element by element multiplication no problems

In [ ]:
import datetime

# xmin = datetime.datetime.strptime('1/1/2018', "%m/%d/%Y").date()
# xmax = datetime.datetime.strptime('5/6/2018', "%m/%d/%Y").date()

# xmin <= datetime.date(2018,1,5) <= xmax

#     Wet Season is from: January 1 through April 30 and November 1 through December 31
#     Dry Season is from: May 1 through October 31

SampleDate = datetime.date(2018,11,1)

#Wet Season 1:
if datetime.date(SampleDate.year, 1,1) <= SampleDate <= datetime.date(SampleDate.year, 4,30):
    print ('ws 1')
elif datetime.date(SampleDate.year, 5,1) <= SampleDate <= datetime.date(SampleDate.year, 10,31):
    print ('dry')
else:
    print ('ws 2')
    
    
import numpy as np    
# np.max([float('nan'),0])
np.max([0,float('nan')])

if math.isnan(10)

In [ ]:
#import the pandas library
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

# display (df)

# display (df.groupby('Team').groups)


# import numpy as np

df.reset_index
display(df)
grouped = df.groupby('Year')
print (grouped['Points'].agg(np.max))
print (grouped['Points'])

In [42]:
import pandas as pd


ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

# display (df)

df.groupby('Team').apply(lambda r: print(r))
print ('*************************')
def Funap(row, m):
    row['Points'] = row['Points'] * m
    return  row
df = df.groupby('Team').apply(lambda r: Funap(r, 3))
df

   Points  Rank    Team  Year
2     863     2  Devils  2014
3     673     3  Devils  2015
   Points  Rank    Team  Year
2     863     2  Devils  2014
3     673     3  Devils  2015
   Points  Rank   Team  Year
4     741     3  Kings  2014
6     756     1  Kings  2016
7     788     1  Kings  2017
    Points  Rank    Team  Year
0      876     1  Riders  2014
1      789     2  Riders  2015
8      694     2  Riders  2016
11     690     2  Riders  2017
    Points  Rank    Team  Year
9      701     4  Royals  2014
10     804     1  Royals  2015
   Points  Rank   Team  Year
5     812     4  kings  2015
*************************

    Points  Rank    Team  Year
0     2628     1  Riders  2014
1     2367     2  Riders  2015
2     2589     2  Devils  2014
3     2019     3  Devils  2015
4     2223     3   Kings  2014
5     2436     4   kings  2015
6     2268     1   Kings  2016
7     2364     1   Kings  2017
8     2082     2  Riders  2016
9     2103     4  Royals  2014
10    2412     1  Royals  2015
11    2070     2  Riders  2017

In [ ]:
import pandas as pd
import numpy as np
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3],
        'coverage': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
display(df)

dfx = df.copy()

capitalizer = lambda x: x.upper()

dfx['name'] = dfx['name'].apply(capitalizer)
display(df)
display(dfx)

data.name.unique

In [43]:
#setting column values:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3],
        'coverage': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
display(df)
#set just jason:
df.loc[df['name']=='Jason', ['coverage', 'reports']] = [26,3]
# display(df)
#set a list of names:
df.loc[df['name'].isin(['Jason', 'Tina']), ['coverage', 'reports']] = [26,3]
display(df)

            coverage   name  reports  year
Cochice           25  Jason        4  2012
Pima              94  Molly       24  2012
Santa Cruz        57   Tina       31  2013
Maricopa          62   Jake        2  2014
Yuma              70    Amy        3  2014

            coverage   name  reports  year
Cochice           26  Jason        3  2012
Pima              94  Molly       24  2012
Santa Cruz        26   Tina        3  2013
Maricopa          62   Jake        2  2014
Yuma              70    Amy        3  2014

In [ ]:
def div0( a, b ):
    """ ignore / 0, div0( [-1, 0, 1], 0 ) -> [0, 0, 0] """
    with np.errstate(divide='ignore', invalid='ignore'):
        c = np.true_divide( a, b )
        c[ ~ np.isfinite( c )] = 0  # -inf inf NaN
    return c

div0( [-1, 0, 1], 0 )

In [ ]:
afile = open("testfile.txt","a") 
# file.write("Hello World") 
# file.write("This is our new text file") 
# file.write("and this is another line.") 
# file.write("Why? Because we can.") 
print ("test", file=afile)
afile.close()

In [ ]:
# import pandas as pd
# x = pd.DataFrame({0: [1,2,float('nan')], 1: [4,5,6], 2: [7,8,9] })
# y = pd.Series([-1, float('nan'), -1])
# print (y)
# # display(x.apply(lambda col: y*col))

# q = session.query(
#       PRR.r_tss, PRR.r_turbidity, PRR.r_p, PRR.r_n, PRR.r_nn, PRR.r_an,
#       PRR.r_og, PRR.r_cu, PRR.r_zn, PRR.r_fe, PRR.r_phmin, PRR.r_phmax
# ).limit(1)
# pd_rr = pd.read_sql(q.statement,session.bind).applymap(lambda el: 0 if el is None else el) #change nonetypes to 0 rem
# display(pd_rr)
# ls_c = ['c_' + Constituent for Constituent in pollLS] #make list of concentration headers 
# pd_c = pd_ExConcs.loc[pd_ExConcs['Facility_ID'] == 1, ls_c]
# display(pd_c)

# print (pd_rr['r_tss'][0])

# # pd_ConcsRed = pd_ExConcs.loc[pd_ExConcs['Facility_ID'] ==155, ['Facility_ID', 'sample_date']]
# # for Constituent in pollLS:
# #     pd_ConcsRed['c_' + Constituent] = pd_c['c_' + Constituent] * pd_rr['r_' + Constituent][0]



# display(pd_ConcsRed)

In [ ]:
#WHICH METHOD IS FASTER? APPLY OR LIST COMPREHENSION?
num = 10000
start_time = time.time()
def fun1a(x):
    return pd.DataFrame([{'fun1':x.loc['id']}])
pd_maina = pd.DataFrame([{'id': i} for i in range(0,num)])
pd_maina['fun1'] = pd_maina.apply(lambda x: fun1a(x), axis=1)
print ('--- %s execution time in seconds ---' % (time.time() - start_time))
# display(pd_maina)

start_time = time.time()
def fun1b(x):
    return pd.DataFrame([{'fun1':x}])
pd_mainb = pd.DataFrame([{'id': i} for i in range(0,num)])
ls = [fun1b(x) for x in range(0,num)]
pd_tmp = pd.concat(ls)
pd_tmp.reset_index(drop=True, inplace=True)
# display(pd_mainb)
# display(pd_tmp)
g = pd.concat([pd_mainb,pd_tmp], axis=1)
print ('--- %s execution time in seconds ---' % (time.time() - start_time))
# display(g)

# display(pd_main)

In [ ]:
#nested list comprehension to concat dataframes:


def fun(x):
    return pd.DataFrame([{'1':x*1}]), pd.DataFrame([{'2':x*2}]), pd.DataFrame([{'3':x*3}])
#this LC stores 3 dataframes per fun call into a single element of list LS
ls = [fun(x) for x in range(0,10)]

#this concats the stored dataframe lists into 3 separate dataframes, outputting each dataframe as we go
for i in range(0,3):
    col = [x[i] for x in ls]
    dfcol = pd.concat(col)
    display(dfcol)

#this LC captures the dataframes into a list and then concatenates to a single dataframe
lsall = [pd.concat([x[i] for i in range(0,3)], axis=1)  for x in ls]
df = pd.concat(lsall)
df

In [ ]:
def xx(g):
    return g*1, 2, 4


ls_pd = [
            xx(i) for CBOLen in range (1,4) for i in range(0,CBOLen)
        ]
print (len(ls_pd))
print (ls_pd)

for CBOLen in range (1,4):
    for i in range(0,CBOLen):
        print (xx(i))

In [ ]:
def fun(i):
    return [{'a':1, 'b':2}]
# ls = [{}]
# ls = ls + fun()
ls = [a for i in range(4) for a in fun(i) ]

print (ls)

In [ ]:
#SHALLOW COPY PANDAS
import pandas as pd



ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
# display (df)

def fun(pd_me):
    print ('df id in fun: ', id(pd_me))
    pd_me = pd.concat([pd_me,pd_me]) #<--this causes a new item to be made
    return pd_me

print ('df id before fun pass ', id(df))
df_new = fun(df)
print ('df id after fun pass ', id(df_new))

df_new['g'] = 0
print (id(df_new))


def fun2(aslice):
    aslice['a'] = 100
    return aslice
    
df.loc[:,['Year']] = fun2(df.loc[:,['Year']])
display (df)

In [ ]:
#RENAME PANDAS COLUMNS
ipl_data = {'gTeam': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'gRank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'gYear': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'gPoints':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)


ls = list(df.columns)
dict_repl = {col: col.replace('g','',1) for col in ls}
df = df.rename(columns = dict_repl)
print (dict_repl)
print (df.shape[0])
df

In [ ]:
df = pd.DataFrame({'rep':[0,1,1,1,2,3,2,3,4,5,1]})
df['rep_f'] = df['rep']!=df['rep']
display(df)
df['rep_f'] = (df['rep']!=df['rep'].shift())
df['rep_f'] = (df['rep']!=df['rep'].shift()).cumsum()-1
df

In [ ]:
#accessing data differently using panels - it's how you do axis
df= np.random.binomial(100, 0.95, (9,3))
dm = np.random.binomial(100, 0.9, [9,3])
dff = pd.DataFrame(df, columns = ['Physics', 'Math', 'Art'])
dfm = pd.DataFrame(dm, columns = ['Physics', 'Math', 'Art'])
score_panel = pd.Panel({'Girls': dff, 'Boys': dfm})
display (dff)
display (dfm)
dff.apply(lambda row: row['Physics'] - row['Math'], axis=1)

# display(score_panel)
# score_panel.apply(lambda adf: adf.apply(lambda row: row['Physics'] - row['Math']))

#using axis in apply, axis is the key: from the docs:   
'''
Function to apply to each combination of ‘other’ axes 
e.g. if axis = ‘items’, the combination of major_axis/minor_axis will each be passed as a Series; 
if axis = (‘items’, ‘major’), DataFrames of items & major axis will be passed

'''    
# score_panel.apply(lambda x: print(x), axis=[0,1]) #

# score_panel.apply(lambda x: print(x), axis=[0,2]) #

# score_panel.apply(lambda x: print(x), axis=[1,0]) #

# score_panel.apply(lambda x: print(x), axis=[2,0]) #

# score_panel.apply(lambda x: print(x), axis='items') #

score_panel['Girls'].apply(lambda x: print(x), axis = 1)
score_panel['Boys'].apply(lambda x: print(x), axis = 1)

In [29]:
#replace values in a specific column based on condition
df= np.random.binomial(100, 0.50, (9,3))
dff = pd.DataFrame(df, columns = ['Physics', 'Math', 'Art'])
display(dff)
dff.loc[dff['Physics']<50, 'Physics'] = 0 #replace physics scores <50 w/ 0
dff

   Physics  Math  Art
0       51    54   43
1       51    49   53
2       57    46   47
3       44    50   51
4       44    46   51
5       64    49   46
6       53    50   56
7       57    47   48
8       56    48   38

   Physics  Math  Art
0       51    54   43
1       51    49   53
2       57    46   47
3        0    50   51
4        0    46   51
5       64    49   46
6       53    50   56
7       57    47   48
8       56    48   38

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K0', 'K2', 'K3'],
'A': ['A0', 'A1', 'A2', 'A3'],
'B': ['B0', 'B1', 'B2', 'B3']})


right = pd.DataFrame({'key': ['K0', 'K0', 'K2', 'K3'],
'C': ['C0', 'C1', 'C2', 'C3'],
'D': ['D0', 'D1', 'D2', 'D3']})



result = pd.merge(left, right, on='key')
result

In [ ]:
def dictAppend(Append2Dict, DictVals):
    if len(Append2Dict) == 0:
        return DictVals
    else:
        for k,v in DictVals.items():
            Append2Dict[k] = Append2Dict[k] + v
        return Append2Dict

d0 = {}
d1 = {'a':[1,2,3], 'b': ['a','aa', 'aaa']}
d0 = dictAppend(d0,d1)
d0
d1 = {'a':[4,5,6], 'b': ['xa','aax', 'axaa']}
d0 = dictAppend(d0,d1)
d0

In [ ]:
df_test = pd.DataFrame([
    {'dir': '/Users/uname1', 'size': 994933},
    {'dir': '/Users/uname2', 'size': 109338711},
])

import locale
def sizes(s):    
    return locale.format("%.1f", s / 1024.0, grouping=True) + ' KB', \
        locale.format("%.1f", s / 1024.0 ** 2, grouping=True) + ' MB', \
        locale.format("%.1f", s / 1024.0 ** 3, grouping=True) + ' GB'
df_test['size_kb'],  df_test['size_mb'], df_test['size_gb'] = zip(*df_test['size'].apply(sizes))
display(df_test)
df_test['size_kb'].tolist()

In [17]:
#using deque
from collections import deque

s = range(10)
d = deque(s)
display(d)
d.pop #pop right side
d.popleft

d.extendleft([0])
d.extend([6,7,8])

d = deque(maxlen=6)
d = deque([1,2,3,4,5])

d.append(10) #append right side
print (d)
d.appendleft(-1)
d

d1 = deque(maxlen=2)
d1.appendleft(1)
d1.appendleft(2)
display(d1)
d1.appendleft(4)
display(d1)
print (len(d1))
d1[0]

deque([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

deque([1, 2, 3, 4, 5, 10])

deque([2, 1])

deque([4, 2])

2

4

In [16]:
15 % 2
import random
random.randint(0,1)
random.uniform(0, 1)

0.43414423666920243

In [4]:
import math
math.pow(2-2,2)

0.0

In [1]:
from collections import deque
dict_hist = {'0.5': deque(maxlen=5)}
# dict_hist['0.5'].appendleft(9)
print (len(dict_hist['0.5']))
# g = dict_hist['0.5'][0]

0

In [1]:
import numpy as np
ls=[]
ls = ls + [10]
print (ls)
asum = 0
for i in ls:
    asum = asum + i
print (asum)

[10]
10

In [28]:
import pandas as pd
dict_def = [{'walkno':np.nan,'idxFacBMPAssignment':np.nan,'tgtRR':np.nan, 'actRR':np.nan,
             'objFunVal':1e+12, 'best_walkno': 0, 'best_objFunVal': 1e+12,
             'exPEP_BaseRisk':np.nan, 'RedPEP_BaseRisk':np.nan, 
             'exTotal_BaseRisk':np.nan, 'RedTotal_BaseRisk':np.nan, 
                'CIP_Cost':np.nan,'CIP_NormCost': np.nan ,'OM_Cost':np.nan}]
pd_tgtRR_tplt = pd.DataFrame(dict_def)
pd_tgtRR_tplt = pd_tgtRR_tplt[['walkno','idxFacBMPAssignment', 'tgtRR', 'actRR',
                               'objFunVal','best_walkno', 'best_objFunVal',
                               'exPEP_BaseRisk', 'RedPEP_BaseRisk', 'exTotal_BaseRisk',
                               'RedTotal_BaseRisk', 'CIP_Cost', 'CIP_NormCost', 'OM_Cost']]

pd_main = pd_tgtRR_tplt.copy(deep=True)
pd_main = pd_main.drop(pd_main.index[[0]])
display(pd_main)
pd_A1 = pd_tgtRR_tplt.copy(deep=True)

pd_main.loc[len(pd_main)] = pd_A1.values.tolist()[0]
pd_main

Empty DataFrame
Columns: [walkno, idxFacBMPAssignment, tgtRR, actRR, objFunVal, best_walkno, best_objFunVal, exPEP_BaseRisk, RedPEP_BaseRisk, exTotal_BaseRisk, RedTotal_BaseRisk, CIP_Cost, CIP_NormCost, OM_Cost]
Index: []

,walkno,idxFacBMPAssignment,tgtRR,actRR,objFunVal,best_walkno,best_objFunVal,exPEP_BaseRisk,RedPEP_BaseRisk,exTotal_BaseRisk,RedTotal_BaseRisk,CIP_Cost,CIP_NormCost,OM_Cost
0,NaN,NaN,NaN,NaN,1.000000e+12,0.0,1.000000e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN